<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          crossOrigin="anonymous" referrerpolicy="no-referrer"/>
    <title>admin 도서 조회</title>
</head>

<body>
<div layout:fragment="content">
    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <!-- 책 사진 설정 (여러개 가능) start -->
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div class="carousel-inner border">
                            <div th:each="image, index : ${book.detailImageUrl}"
                                 th:classappend="${index.index == 0} ? 'carousel-item active' : 'carousel-item'">
                                <img class="w-100 h-100" th:src="${image}" alt="Image">
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>
            <!-- 책 사진 설정 (여러개 가능) end -->

            <!-- 책 세부 내용 start -->
            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">
                    <span th:text="${book.title}"></span>
                    <small class="text-muted ml-2" th:text="'- ' + ${book.engTitle}"></small>
                </h3>
                <div class="mb-3">
                    <i class="fa-solid fa-user"></i>
                    <span th:each="contributorRole, index : ${book.contributorRoleList}"
                      th:text="${contributorRole.contributorName} + '(' + ${contributorRole.roleName} + ')' + (${index.last} ? '' : ', ')">
                </span>
                </div>
                <div class="mb-3">
                    <i class="fa-solid fa-book-open"></i>
                    <span th:text="${book.publisherName + ' | ' + book.publishedDate}"></span>
                </div>
                <div>
                    <i class="fa-solid fa-tag"></i>
                            <span th:each="tag : ${book.tagList}">
                                <span th:text="${tag.tagName}"></span>
                            </span>
                </div>
                <hr/>
                <h4>
                    <i class="fa-solid fa-coins"></i>
                    <span class="font-weight-semi-bold mb-4" th:text="'판매가 : ₩' + ${book.salePrice}"></span>
                </h4>

                <h5>
                    <i class="fa-solid fa-coins" style="color: gray; text-decoration: line-through;"></i>
                    <span th:text="'정가 : ₩' + ${book.price}" style="color: gray; text-decoration: line-through;"></span>
                </h5>
                <hr/>

                <!-- 구매할 책 갯수 설정 -->
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <span style="margin-right: 10px" th:text="'수량 : ' + ${book.quantity}"></span>
                    <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> 재고 추가</button>
                </div>
            </div>
        </div>
        <!-- 책 세부내용 start -->
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab">Information</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">
                            <i class="fa-solid fa-book"></i>
                        <span>도서 정보</span>
                        </h4>
                        <p th:text="'페이지 수 : ' + ${book.pages} + '쪽'"></p>
                        <p th:text="'ISBN : ' + ${book.isbn}"></p>
                        <div th:each="categoryList : ${book.categoryList}">
                            <span th:each="category, index : ${categoryList}" th:inline="text">
                             <span th:style="${index.last}? 'font-weight: bold' : ''"
                                   th:text="${category.categoryName + (index.last ? '' : ' > ')}"></span>
                            </span>
                        </div>
                        <div class="info"></div>
                        <hr/>
                        <h4 class="mb-3">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <span>책 소개</span>
                        </h4>
                        <p class="mb-4" th:utext="${book.description}"></p>
                        <hr/>
                        <div>
                            <h4 class="mb-3" style="margin-left: 3px">
                                <i class="fa-solid fa-bookmark"></i>
                                <span>목차</span>
                            </h4>
                            <p th:utext="${book.bookIndex}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>