<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/adminLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>도서 목록</title>
</head>

<body>
<div layout:fragment="content">

    <div class="container">
        <h2 class="text-center mb-4">도서 목록</h2>
        <div class="row justify-content-center">
            <form th:action="@{'/admin/books/search'}">
                <div class="input-group">
                    <input class="form-control" name="keyword" placeholder="Search by name" type="text">
                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <i class="fa fa-search"></i>
                                        </span>
                    </div>
                </div>
            </form>
            <div class="col-md-10 mb-4" th:each="book : ${bookPage.data}">
                <div class="card" style="width: 120%">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a th:href="@{'/admin/books/' + ${book.bookId}}">
                                <img alt="thumbnail" class="card-img-left img-fluid w-100 h-100"
                                     th:src="${book.thumbnailImageUrl}">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a th:href="@{'/admin/books/' + ${book.bookId}}">
                                    <h5 class="card-title" th:href="@{'/admin/books/' + ${book.bookId}}"
                                        th:text="${book.title}"></h5>
                                </a>
                                <p class="card-text">
                                <div>

                                <span th:each="contributorRole, index : ${book.contributorRoleList}"
                                      th:text="${contributorRole.contributorName} + '(' + ${contributorRole.roleName} + ')' + (${index.last} ? '' : ', ')">
                                </span>
                                </div>
                                출판사: <span th:text="${book.publisherName} + ' ' + ${book.publishedDate}"></span><br>
                                판매가: <span th:text="${book.salePrice}"></span><br>
                                정가: <span th:text="${book.price}"></span><br>
                                </p>
                                <div class="row justify-content-end">
                                    <div class="col-md-2">
                                        <form th:action="@{'/admin/books/updateForm/' + ${book.bookId} + '?page=' + ${bookPage.currentPage}}"
                                              th:method="get">
                                            <input name="page" th:value="${bookPage.currentPage}" type="hidden">
                                            <button class="btn btn-primary" type="submit">수정</button>
                                        </form>
                                    </div>
                                    <div class="col-md-5">
                                        <form style="display: flex;" th:action="@{'/admin/books/status/' + ${book.bookId}}"
                                              th:method="patch">
                                            <select class="form-control mr-2" id="statusSelect" name="bookStatus">
                                                <option th:text="${book.bookStatus.status}"></option>
                                                <option th:each="status : ${bookStatus}" th:text="${status.status}"
                                                        th:unless="${status == book.bookStatus}"
                                                        th:value="${status}"></option>
                                            </select>
                                            <input name="page" th:value="${bookPage.currentPage}" type="hidden">
                                            <button class="btn btn-primary" type="submit">상태 변경</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <nav aria-label="...">
                    <ul class="pagination">
                        <li>
                            <a class="page-link" th:href="@{'?page=1'}">≪</a>
                        </li>
                        <li th:class="${bookPage.currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                            <a class="page-link" th:href="@{'?page=' + ${bookPage.currentPage - 1 }}"><</a>
                        </li>
                        <li th:class="${bookPage.currentPage == pageButton ?   'page-item disabled' : 'page-item'}"
                            th:each="pageButton : ${#numbers.sequence(bookPage.startPage,bookPage.endPage)}">
                            <a class="page-link" th:href="@{'?page=' + ${pageButton}}" th:text="${pageButton}"></a>
                        </li>
                        <li th:class="${bookPage.currentPage == bookPage.totalPage ? 'page-item disabled' : 'page-item'}">
                            <a class="page-link" th:href="@{'?page=' + ${bookPage.currentPage + 1}}">></a>
                        </li>
                        <li>
                            <a class="page-link" th:href="@{'?page=' + ${bookPage.totalPage}}">≫</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>