<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/adminLayout}"
      xmlns="http://www.w3.org/1999/html" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" rel="stylesheet"/>
    <link href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" rel="stylesheet"/>
    <title>도서 등록</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9 offset-md-2">
                <h2>도서 등록</h2>

                <form enctype="multipart/form-data" id="registerForm" th:action="@{/admin/books}" th:method="post">

                    <div class="form-group">
                        <label class="form-label" for="title">제목 (한글)</label>
                        <input class="form-control" id="title" name="title" pattern="^[가-힣0-9a-zA-Z\s]+$" required
                               type="text">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="engTitle">제목 (영어)</label>
                        <input class="form-control" id="engTitle" name="engTitle" pattern="^[A-Za-z0-9\s]+$" required
                               type="text">
                    </div>

                    <div>목차
                        <div id="indexEditor">
                        </div>
                        <textarea id="bookIndex" name="bookIndex" style="display: none"></textarea>
                    </div>
                    <br>

                    <div>책 소개
                        <div id="descriptionEditor">
                        </div>
                        <textarea id="description" name="description" style="display: none"></textarea>
                    </div>
                    <br>

                    <div class="form-group">
                        <label class="form-label" for="thumbnail">썸네일 이미지</label>
                        <input accept="image/*" class="form-control-file" id="thumbnail" name="thumbnail" required
                               type="file">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="details">세부 이미지</label>
                        <input accept="image/*" class="form-control-file" id="details" multiple name="details"
                               required type="file">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="publishedDate">출판일</label>
                        <input class="form-control" id="publishedDate" name="publishedDate" required type="date">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="price">가격</label>
                        <input class="form-control" id="price" name="price" pattern="\d+" required type="number">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="salePrice">할인 가격</label>
                        <input class="form-control" id="salePrice" name="salePrice" pattern="\d+" required
                               type="number">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="isbn">ISBN</label>
                        <input class="form-control" id="isbn" name="isbn" required type="text">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="pages">페이지 수</label>
                        <input class="form-control" id="pages" name="pages" pattern="\d+" required type="number">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="quantity">수량</label>
                        <input class="form-control" id="quantity" name="quantity" pattern="\d+" required type="number">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="publisherSelect">출판사 선택</label>
                        <select class="form-control" id="publisherSelect" name="publisherId" required>
                            <option value="">출판사를 선택해주세요</option>
                            <option th:each="publisher : ${publisherList}"
                                    th:text="${publisher.getPublisherName()}"
                                    th:value="${publisher.getPublisherId()}"></option>
                        </select>
                    </div>
                    <br>

                    <div id="categoryContainer">
                    </div>
                    <button class="btn btn-primary btn-sm float-right" id="removeButton" type="button">-</button>
                    <button class="btn btn-primary btn-sm float-right" id="addButton" type="button">+</button>

                    <br>

                    <div class="form-group">
                        <label class="form-label" for="contributorSelect">기여자 선택</label>
                        <div id="addContributorSelection">
                            <select class="form-control" id="contributorSelect" name="contributorIdList" required>
                                <option value="">기여자를 선택해주세요</option>
                                <option th:each="contributor : ${contributorList}"
                                        th:text="${contributor.getContributorName()}"
                                        th:value="${contributor.getContributorId()}"></option>
                            </select>

                            <label class="form-label" for="roleSelect">역할 선택</label>
                            <select class="form-control" id="roleSelect" name="roleIdList" required>
                                <option value="">역할을 선택해주세요</option>
                                <option th:each="role : ${roleList}"
                                        th:text="${role.getRoleName()}"
                                        th:value="${role.getRoleId()}">
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-primary btn-sm float-right"
                                onclick="addSelection('contributorSelect','addContributorSelection');addSelection('roleSelect','addContributorSelection')">
                            +
                        </button>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="tagSelect">태그 선택</label>
                        <div id="addTagSelection">
                            <select class="form-control" id="tagSelect" name="tagIdList" required>
                                <option value="">태그를 선택해주세요</option>
                                <option th:each="tag : ${tagList}"
                                        th:text="${tag.getTagName()}"
                                        th:value="${tag.getTagId()}"></option>
                            </select>
                        </div>
                        <button class="btn btn-primary btn-sm float-right"
                                onclick="addSelection('tagSelect','addTagSelection')">+
                        </button>
                    </div>
                    <br>
                    <button class="btn btn-primary" id="registerButton" type="button">등록</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>

</script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js">
</script>
<script>
    const indexEditor = new toastui.Editor({
        el: document.querySelector('#indexEditor'),
        height: '350px',
        width: '500px',
        initialEditType: 'wysiwyg',
        previewStyle: 'vertical'
    });


    const descriptionEditor = new toastui.Editor({
        el: document.querySelector('#descriptionEditor'),
        height: '350px',
        width: '500px',
        initialEditType: 'wysiwyg',
        previewStyle: 'vertical'
    });


    document.querySelector('#registerButton').addEventListener('click', function () {
        const indexMarkdown = indexEditor.getMarkdown();
        const descriptionMarkdown = descriptionEditor.getMarkdown();

        document.getElementById('bookIndex').value = indexMarkdown;
        document.getElementById('description').value = descriptionMarkdown;

        document.querySelector('#registerForm').submit();

    });
</script>
<script th:inline="javascript">

    function addSelection(select, addSelection) {
        const container = document.getElementById(addSelection);
        const selection = document.getElementById(select)
        const cloneSelection = selection.cloneNode(true);

        const newId = select + '_' + (container.children.length + 1);
        cloneSelection.id = newId;

        const label = document.querySelector(`label[for="${select}"]`);
        const cloneLabel = label.cloneNode(true);
        cloneLabel.setAttribute('for', newId);

        container.appendChild(cloneLabel);
        container.appendChild(cloneSelection)

        event.preventDefault();
    }

    function fetchChildrenCategories(categoryId, callback) {
        fetch(`/categories/${categoryId}/children`)
            .then(listResponse => {
                if (!listResponse.ok) {
                    throw new Error('Network listResponse was not ok');
                }
                return listResponse.json();
            })
            .then(data => {
                callback(data);
            })
            .catch(error => {
                console.error('There was a problem with fetch operation:', error.message);
            });
    }

    function fetchRootCategories(callback) {
        fetch(`/categories`)
            .then(listResponse => {
                if (!listResponse.ok) {
                    throw new Error('Network listResponse was not ok');
                }
                return listResponse.json();
            })
            .then(data => {
                callback(data);
            })
            .catch(error => {
                console.error('There was a problem with fetch operation:', error.message);
            });
    }


    // 선택창 추가 함수
    function addSelector() {
        const container = document.getElementById('categoryContainer');
        const select = document.createElement('select');
        select.name = 'categoryIdList';
        select.className = 'form-control mb-2';
        select.onchange = function () {
            // 이전 하위 선택창 제거
            while (select.nextSibling) {
                container.removeChild(select.nextSibling);
            }
            // 새 하위 선택창 추가
            const selectedId = select.options[select.selectedIndex].value;
            fetchChildrenCategories(selectedId, function (data) {
                if (data.length > 0) {
                    addSubcategories(data);
                }
            });
        };
        const defaultOption = document.createElement('option');
        defaultOption.text = "카테고리를 선택해주세요";
        select.appendChild(defaultOption);
        // 상위 카테고리 옵션 추가
        fetchRootCategories(function (data) {
            for (const category of data) {
                const option = document.createElement('option');
                option.value = category.categoryId;
                option.text = category.categoryName;
                select.appendChild(option);
            }
        });
        container.appendChild(select);
    }

    // 하위 카테고리 선택창 추가 함수
    function addSubcategories(data) {
        const container = document.getElementById('categoryContainer');
        const select = document.createElement('select');
        select.name = 'categoryIdList';
        select.className = 'form-control mb-2';
        select.onchange = function () {
            // 이전 하위 선택창 제거
            while (select.nextSibling) {
                container.removeChild(select.nextSibling);
            }
            // 새 하위 선택창 추가
            const selectedId = select.options[select.selectedIndex].value;
            fetchChildrenCategories(selectedId, function (data) {
                if (data.length > 0) {
                    addSubcategories(data);
                }
            });
        };
        const defaultOption = document.createElement('option');
        defaultOption.text = "카테고리를 선택해주세요";
        select.appendChild(defaultOption);
        // 하위 카테고리 옵션 추가
        for (const category of data) {
            const option = document.createElement('option');
            option.value = category.categoryId;
            option.text = category.categoryName;
            select.appendChild(option);
        }
        container.appendChild(select);
    }

    // '+' 버튼 클릭 이벤트
    document.getElementById('addButton').onclick = addSelector;

    document.getElementById('removeButton').onclick = function () {
        const container = document.getElementById('categoryContainer');
        if (container.lastChild) {
            container.removeChild(container.lastChild);
        }
    };

    // 초기 선택창 추가
    addSelector();

</script>
