<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/adminLayout}"
      xmlns="http://www.w3.org/1999/html" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" rel="stylesheet"/>
    <link href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" rel="stylesheet"/>
    <title>도서 수정</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9 offset-md-2">
                <h2>도서 수정</h2>

                <form enctype="multipart/form-data" id="updateForm"
                      th:action="@{'/admin/books/' + ${book.bookId} + '?page=' +${page}}"
                      th:method="patch">

                    <p>이미지, 출판사, 기여자, 역할, 태그는 수정할 사항이 없으면 그대로 두시면 됩니다.</p>

                    <div class="form-group">
                        <label for="title">제목 (한글)</label>
                        <input class="form-control" id="title" name="title" pattern="^[가-힣0-9a-zA-Z]+$" required
                               th:value="${book != null ? book.title : ''}"
                               type="text">

                    </div>

                    <div class="form-group">
                        <label for="engTitle">제목 (영어)</label>
                        <input class="form-control" id="engTitle" name="engTitle" pattern="^[A-Za-z0-9]+$" required
                               th:value="${book != null ? book.engTitle : ''}"
                               type="text">
                    </div>


                    <div>책 소개
                        <div id="descriptionEditor">
                        </div>
                        <textarea id="description" name="description" required style="display: none"></textarea>
                    </div>

                    <div>목차
                        <div id="indexEditor">
                        </div>
                        <textarea id="bookIndex" name="bookIndex" required style="display: none"></textarea>
                    </div>
                    <br>

                    <br>

                    <div class="form-group">
                        <label for="thumbnail">썸네일 이미지</label>
                        <input accept="image/*" class="form-control-file" id="thumbnail" name="thumbnail" type="file">
                    </div>

                    <div class="form-group">
                        <label for="details">세부 이미지</label>
                        <input accept="image/*" class="form-control-file" id="details" multiple name="details"
                               type="file">
                    </div>

                    <div class="form-group">
                        <label for="publishedDate">출판일</label>
                        <input class="form-control" id="publishedDate" name="publishedDate" required
                               th:value="${book != null ? book.publishedDate : ''}"
                               type="date">
                    </div>

                    <div class="form-group">
                        <label for="price">가격</label>
                        <input class="form-control" id="price" name="price" pattern="\d+" required
                               th:value="${book != null ? book.price : ''}"
                               type="number">
                    </div>

                    <div class="form-group">
                        <label for="salePrice">할인 가격</label>
                        <input class="form-control" id="salePrice" name="salePrice" pattern="\d+" required
                               th:value="${book != null ? book.salePrice : ''}"
                               type="number">
                    </div>

                    <div class="form-group">
                        <label for="isbn">ISBN</label>
                        <input class="form-control" id="isbn" name="isbn" required
                               th:value="${book != null ? book.isbn : ''}"
                               type="text">
                    </div>

                    <div class="form-group">
                        <label for="pages">페이지 수</label>
                        <input class="form-control" id="pages" name="pages" pattern="\d+" required
                               th:value="${book != null ? book.pages : ''}"
                               type="number">
                    </div>

                    <div class="form-group">
                        <label for="quantity">수량</label>
                        <input class="form-control" id="quantity" name="quantity" pattern="\d+" required
                               th:value="${book != null ? book.quantity : ''}"
                               type="number">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="publisherSelect">출판사 선택</label>
                        <select class="form-control" id="publisherSelect" name="publisherId">
                            <option value="">출판사를 선택해주세요</option>
                            <option th:each="publisher : ${publisherList}"
                                    th:text="${publisher.getPublisherName()}"
                                    th:value="${publisher.getPublisherId()}"></option>
                        </select>
                    </div>
                    <br>

                    <div id="categoryContainer">
                    </div>
                    <button class="btn btn-primary btn-sm float-right" id="removeButton" type="button">-</button>
                    <button class="btn btn-primary btn-sm float-right" id="addButton" type="button">+</button>


                    <div class="form-group">
                        <label class="form-label" for="contributorSelect">기여자 선택</label>
                        <div id="addContributorSelection">
                            <select class="form-control" id="contributorSelect" name="contributorIdList">
                                <option value="">기여자를 선택해주세요</option>
                                <option th:each="contributor : ${contributorList}"
                                        th:text="${contributor.getContributorName()}"
                                        th:value="${contributor.getContributorId()}"></option>
                            </select>

                            <label class="form-label" for="roleSelect">역할 선택</label>
                            <select class="form-control" id="roleSelect" name="roleIdList">
                                <option value="">역할을 선택해주세요</option>
                                <option th:each="role : ${roleList}"
                                        th:text="${role.getRoleName()}"
                                        th:value="${role.getRoleId()}">
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-primary btn-sm float-right"
                                onclick="addSelection('contributorSelect','addContributorSelection');addSelection('roleSelect','addContributorSelection')">
                            +
                        </button>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="tagSelect">태그 선택</label>
                        <div id="addTagSelection">
                            <select class="form-control" id="tagSelect" name="tagIdList">
                                <option value="">태그를 선택해주세요</option>
                                <option th:each="tag : ${tagList}"
                                        th:text="${tag.getTagName()}"
                                        th:value="${tag.getTagId()}"></option>
                            </select>
                        </div>
                        <button class="btn btn-primary btn-sm float-right"
                                onclick="addSelection('tagSelect','addTagSelection')">+
                        </button>
                    </div>
                    <br>
                    <button class="btn btn-primary" id="updateButton" type="button">수정</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js">
</script>
<script th:inline="javascript">

    const indexEditor = new toastui.Editor({
        el: document.querySelector('#indexEditor'),
        height: '350px',
        width: '500px',
        initialEditType: 'wysiwyg',
        previewStyle: 'vertical'
    });
    const descriptionEditor = new toastui.Editor({
        el: document.querySelector('#descriptionEditor'),
        height: '350px',
        width: '500px',
        initialEditType: 'wysiwyg',
        previewStyle: 'vertical'
    });

    let bookIndex = [[${book.bookIndex}]];
    let description = [[${book.description}]];

    indexEditor.setMarkdown(bookIndex);
    descriptionEditor.setMarkdown(description);


    document.querySelector('#updateButton').addEventListener('click', function () {
        const indexMarkdown = indexEditor.getMarkdown();
        const descriptionMarkdown = descriptionEditor.getMarkdown();

        document.getElementById('bookIndex').value = indexMarkdown;
        document.getElementById('description').value = descriptionMarkdown;

        console.log(descriptionMarkdown);

        document.querySelector('#updateForm').submit();

    });


</script>
<script th:inline="javascript">

    function addSelection(select, addSelection) {
        const container = document.getElementById(addSelection);
        const selection = document.getElementById(select)
        const cloneSelection = selection.cloneNode(true);

        const newId = select + '_' + (container.children.length + 1);
        cloneSelection.id = newId;

        const label = document.querySelector(`label[for="${select}"]`);
        const cloneLabel = label.cloneNode(true);
        cloneLabel.setAttribute('for', newId);

        container.appendChild(cloneLabel);
        container.appendChild(cloneSelection)

        event.preventDefault();
    }

    //TODO: url 바꾸기
    function fetchChildrenCategories(categoryId, callback) {
        fetch(`/categories/${categoryId}/children`)
            .then(listResponse => {
                if (!listResponse.ok) {
                    throw new Error('Network listResponse was not ok');
                }
                return listResponse.json();
            })
            .then(data => {
                callback(data);
            })
            .catch(error => {
                console.error('There was a problem with fetch operation:', error.message);
            });
    }

    function fetchRootCategories(callback) {
        fetch('/categories')
            .then(listResponse => {
                if (!listResponse.ok) {
                    throw new Error('Network listResponse was not ok');
                }
                return listResponse.json();
            })
            .then(data => {
                callback(data);
            })
            .catch(error => {
                console.error('There was a problem with fetch operation:', error.message);
            });
    }

    // 선택창 추가 함수
    function addSelector() {
        const container = document.getElementById('categoryContainer');
        const select = document.createElement('select');
        select.name = 'categoryIdList';
        select.className = 'form-control mb-2';
        select.onchange = function () {
            // 이전 하위 선택창 제거
            while (select.nextSibling) {
                container.removeChild(select.nextSibling);
            }
            // 새 하위 선택창 추가
            const selectedId = select.options[select.selectedIndex].value;
            fetchChildrenCategories(selectedId, function (data) {
                if (data.length > 0) {
                    addSubcategories(data);
                }
            });
        };
        const defaultOption = document.createElement('option');
        defaultOption.value = "";
        defaultOption.text = "카테고리를 선택해주세요";
        select.appendChild(defaultOption);
        // 상위 카테고리 옵션 추가
        fetchRootCategories(function (data) {
            for (const category of data) {
                const option = document.createElement('option');
                option.value = category.categoryId;
                option.text = category.categoryName;
                select.appendChild(option);
            }
        });
        container.appendChild(select);
    }

    // 하위 카테고리 선택창 추가 함수
    function addSubcategories(data) {
        const container = document.getElementById('categoryContainer');
        const select = document.createElement('select');
        select.name = 'categoryIdList';
        select.className = 'form-control mb-2';
        select.onchange = function () {
            // 이전 하위 선택창 제거
            while (select.nextSibling) {
                container.removeChild(select.nextSibling);
            }
            // 새 하위 선택창 추가
            const selectedId = select.options[select.selectedIndex].value;
            fetchChildrenCategories(selectedId, function (data) {
                if (data.length > 0) {
                    addSubcategories(data);
                }
            });
        };
        const defaultOption = document.createElement('option');
        defaultOption.text = "카테고리를 선택해주세요";
        select.appendChild(defaultOption);
        // 하위 카테고리 옵션 추가
        for (const category of data) {
            const option = document.createElement('option');
            option.value = category.categoryId;
            option.text = category.categoryName;
            select.appendChild(option);
        }
        container.appendChild(select);
    }

    // '+' 버튼 클릭 이벤트
    document.getElementById('addButton').onclick = addSelector;

    document.getElementById('removeButton').onclick = function () {
        const container = document.getElementById('categoryContainer');
        if (container.lastChild) {
            container.removeChild(container.lastChild);
        }
    };

    // 초기 선택창 추가
    addSelector();

</script>