<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}" xmlns="http://www.w3.org/1999/html">
<head>
    <script th:inline="javascript">
        function addSelection(select, addSelection) {
            const container = document.getElementById(addSelection);
            const selection = document.getElementById(select)
            const cloneSelection = selection.cloneNode(true);

            const newId = select + '_' + (container.children.length + 1);
            cloneSelection.id = newId;

            const label = document.querySelector(`label[for="${select}"]`);
            const cloneLabel = label.cloneNode(true);
            cloneLabel.setAttribute('for', newId);

            container.appendChild(cloneLabel);
            container.appendChild(cloneSelection)

            event.preventDefault();
        }


    </script>

    <title>도서 수정</title>
</head>

<body>
<div layout:fragment="content">

    <h2>도서 수정</h2>

    <form th:action="@{'/admin/books/' + ${book.bookId} + '?page=' +${page}}" th:method="patch"
          enctype="multipart/form-data">

        <p>이미지, 출판사, 기여자, 역할, 태그는 수정할 사항이 없으면 그대로 두시면 됩니다.</p>

        <label for="title">제목 (한글)</label>
        <input type="text" id="title" name="title" pattern="^[[가-힣0-9a-zA-Z]+$" required
               th:value="${book != null ? book.title : ''}">
        <br>

        <label for="engTitle">제목 (영어)</label>
        <input type="text" id="engTitle" name="engTitle" pattern="^[A-Za-z0-9]+$" required
               th:value="${book != null ? book.engTitle : ''}">
        <br>

        <label for="bookIndex">목차</label>
        <textarea type="text" id="bookIndex" name="bookIndex" required
                  th:text="${book != null ? book.bookIndex : ''}"></textarea>
        <br>

        <label for="description">설명</label>
        <textarea id="description" name="description" required
                  th:text="${book != null ? book.description : ''}"></textarea>
        <br>

        <label for="thumbnail">썸네일 이미지</label>
        <input type="file" id="thumbnail" name="thumbnail" accept="image/*">

        <label for="details">세부 이미지</label>
        <input type="file" id="details" name="details" accept="image/*" multiple>
        <br>

        <label for="publishedDate">출판일</label>
        <input type="date" id="publishedDate" name="publishedDate" required
               th:value="${book != null ? book.publishedDate : ''}">
        <br>

        <label for="price">가격</label>
        <input type="number" id="price" name="price" pattern="\d+" required
               th:value="${book != null ? book.price : ''}">
        <br>

        <label for="salePrice">할인 가격</label>
        <input type="number" id="salePrice" name="salePrice" pattern="\d+" required
               th:value="${book != null ? book.salePrice : ''}">
        <br>

        <label for="isbn">ISBN</label>
        <input type="text" id="isbn" name="isbn" required th:value="${book != null ? book.isbn : ''}">
        <br>

        <label for="pages">페이지 수</label>
        <input type="number" id="pages" name="pages" pattern="\d+" required
               th:value="${book != null ? book.pages : ''}">
        <br>

        <label for="quantity">수량</label>
        <input type="number" id="quantity" name="quantity" pattern="\d+" required
               th:value="${book != null ? book.quantity : ''}">
        <br>

        <label for="category">카테고리 선택</label>
        <input type="number" id="category" name="categoryIdList">
        <br>

        <label for="publisherSelect">출판사 선택</label>
        <select id="publisherSelect" name="publisherId">
            <option value="">출판사를 선택해주세요</option>
            <option th:each="publisher : ${publisherList}"
                    th:value="${publisher.getPublisherId()}"
                    th:text="${publisher.getPublisherName()}"></option>
        </select>
        <br>

        <label for="contributorSelect">기여자 선택</label>
        <div id="addContributorSelection">
            <select id="contributorSelect" name="contributorIdList">
                <option value="">기여자를 선택해주세요</option>
                <option th:each="contributor : ${contributorList}"
                        th:value="${contributor.getContributorId()}"
                        th:text="${contributor.getContributorName()}"></option>
            </select>

            <label for="roleSelect">역할 선택</label>

            <select id="roleSelect" name="roleIdList">
                <option value="">역할을 선택해주세요</option>
                <option th:each="role : ${roleList}"
                        th:value="${role.getRoleId()}"
                        th:text="${role.getRoleName()}">
                </option>
            </select>
            <br>
        </div>
        <button onclick="addSelection('contributorSelect','addContributorSelection');addSelection('roleSelect','addContributorSelection')">
            +
        </button>
        <br>

        <label for="tagSelect">태그 선택</label>
        <div id="addTagSelection">
            <select id="tagSelect" name="tagIdList">
                <option value="">태그를 선택해주세요</option>
                <option th:each="tag : ${tagList}"
                        th:value="${tag.getTagId()}"
                        th:text="${tag.getTagName()}"></option>
            </select>
            <br>
        </div>
        <button onclick="addSelection('tagSelect','addTagSelection')">+</button>
        <br>

        <input type="submit" th:value="수정">
    </form>
</div>
</body>
</html>