<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">
<head>
    <title>admin 메인</title>
</head>

<body>
<div layout:fragment="content">
    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <!-- 책 사진 설정 (여러개 가능) start -->
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div th:each="image, index : ${book.detailImageUrl}">
                            <div th:class="${index == 0 ? 'carousel-item active' : 'carousel-item'}">
                                <img class="w-100 h-100" th:src="${image}" alt="Image">
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>
            <!-- 책 사진 설정 (여러개 가능) end -->

            <!-- 책 세부 내용 start -->
            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold" th:text="${book.title}"></h3>
                <div th:each="contributorRole : ${book.contributorRoleList}">
                    <h4 class="mb-3"
                        th:text="${contributorRole.contributorName + '(' + contributorRole.roleName + ')'}"></h4>
                </div>
                <h4 class="mb-3" th:text="${book.publisherName + ' ' + book.publishedDate}"></h4>
                <div class="d-flex mb-3">
                    <!-- 평점 -->
                    <div class="text-primary mr-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                    <!-- 리뷰가 몇개인지 (눌렀을 때 리뷰페이지로 갈수있게) -->
                    <small class="pt-1">(50 Reviews)</small>
                </div>
                <h3 class="font-weight-semi-bold mb-4" th:text="${book.salePrice}+' won'"></h3>
                <p class="mb-4" th:text="${book.description}"></p>

                <!-- 구매할 책 갯수 설정 -->
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> 장바구니 담기</button>
                </div>
            </div>
        </div>
        <!-- 책 세부내용 start -->
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Information</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Reviews (0)</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">기본 정보</h4>
                        <span th:text="${book.pages} +'쪽'"></span>
                        <span th:text="'ISBN : ' + ${book.isbn}"></span>
                        <div>
                            <div th:each="tag : ${book.tagList}">태그 :
                                <span class="badge-info" th:text="${tag.tagName}"></span>
                            </div>
                        </div>
                        <div th:each="categoryList : ${book.categoryList}">
                            <span th:each="category, index : ${categoryList}" th:inline="text">
                             <span th:style="${index.last}? 'font-weight: bold' : ''"
                                   th:text="${category.categoryName + (index.last ? '' : ' > ')}"></span>
                            </span>
                        </div>

                    </div>
                    <hr/>
                    <div>
                        <h4 class="mb-3">목차</h4>
                        <p th:text="${book.bookIndex}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>