<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/orderLayout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>주문 페이지</title>
    <link href="/static/css/order.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<div layout:fragment="content">
    <div style="margin-bottom: 20px;"></div>
    <div sec:authorize="isAnonymous()">
        <h5 class="font-weight-semi-bold">비회원 정보</h5>
        <div>
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th scope="row" for="name" class="order-word" style="width: 15%">이름</th>
                    <td style="display : flex">
                        <input type="text" id="name" class="order-text" placeholder="이름"
                               required/>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="order-word" style="width: 15%">이메일</th>
                    <td style="display : flex">
                        <input type="hidden" id="email" name="email" for="email"/>
                        <input type="text" id="emailId" class="order-text" style="margin-right: 10px;" required/>
                        <div style="padding-top: 2px;padding-bottom: 2px"> @</div>
                        <input type="text" id="emailDomain" class="order-text" required/>
                        <select id="selectEmail" class="select order-text" title="이메일 도메인 주소 선택"
                                onchange="setEmailDomain()">
                            <option value="">--선택--</option>
                            <option value="naver.com">naver.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="hanmail.com">hanmail.com</option>
                            <option value="korea.com"> korea.com</option>
                            <option value="nate.com">nate.com</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row" for="password" class="order-word" style="width: 15%">비밀번호</th>
                    <td style="display : flex">
                        <input type="password" id="password" class="order-text" placeholder="비밀번호"
                               required/>
                        <div style="color:gray;" class="word"> (영문 대소문자/숫자/특수문자 중 3가지 이상 조합, 8자~20자)</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" for="passwordCheck" class="order-word" style="width: 15%">비밀번호 재확인</th>
                    <td style="display : flex">
                        <input type="password" id="passwordCheck" class="order-text" placeholder="비밀번호" required/>
                    </td>
                </tr>
                <tr>
                    <th scope="row" for="phoneNumber" class="order-word" style="width: 10%">전화번호</th>
                    <td style="display : flex">
                        <input type="text" id="phoneNumber" class="order-text"
                               placeholder="전화번호"
                               required/>
                        <div style="color:gray;" class="order-word"> (ex.010-1234-5678)</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <h5 class="font-weight-semi-bold">수령인 정보</h5>
        <div>
            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th scope="row" for="receiverName" class="order-word" style="width: 10%">이름</th>
                    <td style="display : flex">
                        <input type="text" id="receiverName" class="order-text" placeholder="이름"
                               required/>
                    </td>
                </tr>
                <tr>
                    <th scope="row" for="receiverPhoneNumber" class="order-word" style="width: 10%">전화번호</th>
                    <td style="display : flex">
                        <input type="text" id="receiverPhoneNumber" class="order-text"
                               placeholder="전화번호"
                               required/>
                        <div style="color:gray;" class="order-word"> (ex.010-1234-5678)</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="margin-bottom: 20px;"></div>
    <h5 class="font-weight-semi-bold">배송지 정보</h5>
    <div>
        <table class="table table-bordered table-hover">
            <tbody>
            <tr sec:authorize="isAuthenticated()">
                <th scope="row" for="alias" style="width: 10%">
                    배송지 선택
                </th>
                <td>
                    <span>
                        <input type="radio" id="noSelection" name="addressSelection" value="noSelection"
                               onclick="selectNoAdddress()" checked>
                        <label for="noSelection">선택 안함</label>
                    </span>
                    <span th:id="${addressStat.index}" th:each="address : ${addressList}">
                        <input type="radio" style="margin-left:5px" class="selectAlias" id="selectAlias"
                               name="addressSelection" onclick="selectAddress(this)">
                        <input class="selectZipcode" type="hidden" th:value="${address.zipcode}">
                        <input class="selectAddress" type="hidden" th:value="${address.address}">
                        <input class="selectDetail" type="hidden" th:value="${address.detail}">
                        <label for="selectAlias" th:text="' '+${address.alias}"></label>
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row" for="zipcode" class="order-word" style="width: 20%">
                    우편번호
                </th>
                <td style="display : flex">
                    <input type="text" id="zipcode" class="order-text"
                           style="width:100px" readonly/>
                    <button class="btn btn-primary order-text" onclick="postAddress()" style="padding-top:1px">우편번호 찾기</button>
                </td>
            </tr>
            <tr>
                <th scope="row" for="address" class="order-word" style="width: 20%">
                    주소
                </th>
                <td style="display : flex">
                    <input type="text" id="address" class="order-text" maxlength="100"
                           style="width:400px" readonly/>
                </td>
            </tr>
            <tr>
                <th scope="row" for="detail" class="order-word" style="width: 20%">상세주소</th>
                <td style="display : flex">
                    <input type="text" id="detail" class="order-text" maxlength="100"
                           style="width:400px" required/>
                </td>
            </tr>
            <tr>
                <th scope="row" for="message" class="order-word" style="width: 20%">배송요청사항(선택)</th>
                <td style="display : flex">
                    <div>
                        <select id="selectMessage" class="select order-text" title="배송 요청사항 선택" style="width:400px"
                                onchange="setDeliveryMessage()">
                            <option value="">--배송 시 요청사항을 선택해주세요--</option>
                            <option value="부재 시 경비실에 맡겨주세요">부재 시 경비실에 맡겨주세요</option>
                            <option value="부재 시 택배함에 넣어주세요">부재 시 택배함에 넣어주세요</option>
                            <option value="부재 시 집 앞에 놔주세요">부재 시 집 앞에 놔주세요</option>
                            <option value="배송 전 연락 바랍니다">배송 전 연락 바랍니다</option>
                            <option value="etc">직접 입력</option>
                        </select>
                    </div>
                    <input type="hidden" id="message" class="order-text" maxlength="100"
                           required/>
                    <div>
                        <textarea onchange="setEtcMessage()" ; id="etcMessage" class="order-text"
                                  style="width:400px; display:none;" rows="3" maxlength="50"
                                  placeholder="최대 50자까지 입력 가능합니다."></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row" for="deliveryWishDate" class="order-word" style="width: 20%">희망 배송날짜 선택</th>
                <td style="display: flex; align-items: center;">
                    <input type="radio" id="noSelect" class="radio text" name="deliveryWishDate" value="noSelect"
                           checked>
                    <label for="noSelect" class="order-word">선택안함(가장빠른 날로 배송)</label>
                    <input type="radio" id="select" class="radio text" name="deliveryWishDate" value="select">
                    <label for="select" class="order-word">날짜선택 (한달까지 선택 가능)</label>
                    <div>
                        <label id="wishDateView" style="display:none;" for="date" class="order-text">날짜를 선택하세요:
                            <input type="date"
                                   id="date">
                            <script>
                                // 현재 날짜를 가져오는 함수
                                function getCurrentDate() {
                                    let today = new Date();
                                    let year = today.getFullYear();
                                    let month = (today.getMonth() + 1).toString().padStart(2, '0');
                                    let day = today.getDate().toString().padStart(2, '0');
                                    return `${year}-${month}-${day}`;
                                }

                                function getNextMonthDate() {
                                    let nextMonth = new Date();
                                    nextMonth.setMonth(nextMonth.getMonth() + 1);
                                    let year = nextMonth.getFullYear();
                                    let month = (nextMonth.getMonth() + 1).toString().padStart(2, '0');
                                    let day = nextMonth.getDate().toString().padStart(2, '0');
                                    return `${year}-${month}-${day}`;
                                }

                                // 오늘 날짜를 max 속성에 설정
                                document.getElementById('date').setAttribute('min', getCurrentDate());
                                document.getElementById('date').setAttribute('max', getNextMonthDate());
                            </script>
                        </label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-bottom: 20px;"></div>
    <h5 class="font-weight-semi-bold">구매 상품 정보</h5>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th style="width: 40%">도서 정보</th>
            <th>수량</th>
            <th sec:authorize="isAuthenticated()">적립금</th>
            <th sec:authorize="isAuthenticated()">쿠폰 할인</th>
            <th>도서 할인</th>
            <th>주문 금액</th>
            <th>포장 금액</th>
        </tr>
        </thead>
        <tbody class="orderDetail" th:each="book : ${orderList}">
        <tr id="index" th:id="${bookStat.index}">
            <td style="width: 40%">
                <input type="hidden" id="bookList" th:value="${orderList}">
                <input type="hidden" id="bookId" th:value="${book.bookId}">
                <span th:text="${book.getTitle()}"></span>
            </td>
            <td>
                <span id="bookCount" th:text="${book.getCount()}"></span>
            </td>
            <td sec:authorize="isAuthenticated()">
                <span th:text="${book.getReward()} + ' ('+${book.getRewardRate().toString()}+'%)'"></span>
            </td>
            <td sec:authorize="isAuthenticated()">
                <input type="hidden" id="couponId">
                <span th:text="'- '+${book.getCouponSale()}"></span>
                <button class="btn btn-primary"onclick="couponPopUp()"
                        style="margin-left:10px;padding-top:3px">쿠폰 사용
                </button>
            </td>
            <td>
                <span th:text="'- '+${book.getBookSale()}"></span>
            </td>
            <td>
                <span class="text-muted">
                    <del th:text="'₩' + ${book.getOriginPrice()}"></del>
                </span>
                <span>₩</span>
                <span id="bookFinalPrice" th:text="${book.getFinalPrice()}"></span>
            </td>
            <td>
                <span>+</span>
                <span type="number" class="packagePrice" id="packagePrice" th:text="${book.getPackagePrice()}"></span>
                <input class="packageId" type="hidden" id="packageId" th:value="${book.getPackageId()}">
                <button class="btn btn-primary"onclick="packagePopUp(this)"
                        style="margin-left:10px; padding-top:3px;">포장 하기
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div style="margin-bottom: 20px;"></div>
    <h5 class="font-weight-semi-bold">최종 결제 금액</h5>
    <div>
        <table class="table table-bordered table-hover">
            <tbody>
            <tr>
                <th scope="row" for="name" class="order-word" style="width: 15%; color:red">상품 금액</th>
                <td style="display : flex">
                    <span id="finalTotalOriginPrice" style="color:red" th:text="${finalTotalOriginPrice}"></span>
                </td>
            </tr>
            <tr>
                <th scope="row" for="name" class="order-word" style="width: 15%">포장지 금액</th>
                <td style="display: flex;">
                    <span>+</span>
                    <span id="totalPackagePrice" th:text="${totalPackagePrice}"></span>
                </td>
            </tr>
            <tr>
                <th scope="row" for="name" class="order-word" style="width: 15%">상품 할인</th>
                <td style="display : flex">
                    <span>-</span>
                    <span id="totalBookSale" th:text="${totalBookSale}"></span>
                </td>
            </tr>
            <tr sec:authorize="isAuthenticated()">
                <th scope="row" for="name" class="order-word" style="width: 15%">쿠폰 할인</th>
                <td style="display : flex">
                    <span type="text">-</span>
                    <span id="totalCouponSale" th:text="${totalCouponSale}"></span>
                    <span type="hidden" id="totalCouponId"></span>
                    <button class="btn btn-primary" type="button" onclick="fullCouponPopUp()"
                            style="margin-left:15px; padding-top:3px;">쿠폰 사용
                    </button>
                </td>
            </tr>
            <th scope="row" for="name" class="order-word" style="width: 15%">배송비</th>
            <td style="display : flex">
                <input type="hidden" id="deliveryFeePolicy" th:value="${deliveryFeePolicy}">
                <input type="hidden" id="freeDeliveryStandard" th:value="${freeDeliveryStandard}">
                <span>+</span>
                <span id="deliveryFee" th:text="${deliveryFee}"></span>
                <span style="color:grey; margin-left:10px"
                      th:text="'['+${freeDeliveryStandard} + '원 이상 주문시 배송비 무료(포장값 제외 결제금액기준)]'"></span>
            </td>
            <tr sec:authorize="isAuthenticated()">
                <th scope="row" for="name" class="order-word" style="width: 15%">포인트 할인</th>
                <td style="display : flex">
                    <span type="text">-</span>
                    <span type="text" id="totalPointSale" th:text="${totalPointSale}"></span>
                    <input type="number" id="quantity" name="quantity" min="0" style="width:100px;margin-left:10px"
                           onchange="pointChange()">
                    <span type="text" style="margin-left:10px" th:text="'( 잔여 포인트 : '+${totalPoint}+' )'"></span>
                    <input type="hidden" id="totalPoint" th:value="${totalPoint}"></input>
                    <script>
                        let totalPoint = [[${totalPoint}]]
                        document.getElementById('quantity').setAttribute('max', totalPoint);
                    </script>
                </td>
            </tr>
            <tr>
                <th scope="row" for="name" class="order-word" style="width: 15%; color:red">최종 결제 금액</th>
                <td style="display : flex">
                    <span style="color:red" id="finalTotalSalePrice" th:text="${finalTotalSalePrice}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: center;">
        <button type="button" class="btn btn-primary px-3" onclick="submitOrderForm()">결제 하기</button>
    </div>
    <script src="/static/js/order/order.js"></script>
</div>
</body>
</html>