<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/mypageLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>회원 주문 목록</title>
</head>
<body>
<div layout:fragment="content" class="container my-4">

    <h2 class="text-center">주문 목록</h2>

    <br/><br/>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>주문 명</th>
            <th>주문 일자</th>
            <th>주문 가격</th>
            <th>상태</th>
            <th></th>
        </tr>
        </thead>

        <!-- 주문 목록 -->
        <tbody>
        <tr th:each="order : ${orderPage.data}">
            <td th:text="${order.orderName}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.amount}"></td>
            <td th:text="${order.orderState}"></td>

            <td>
                <form class="d-inline" th:action="${'/mypage/order/'+ order.orderId}">
                    <button class="btn btn-sm btn-secondary" type="submit" th:text="상세보기"></button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>

    <div>
        <nav aria-label="...">
            <ul class="pagination">
                <li>
                    <a class="page-link" th:href="@{'?page=1'}">≪</a>
                </li>
                <li th:class="${orderPage.currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{'?page=' + ${orderPage.currentPage - 1 }}"><</a>
                </li>
                <li th:each="pageButton : ${#numbers.sequence(orderPage.startPage,orderPage.endPage)}"
                    th:class="${orderPage.currentPage == pageButton ?   'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{'?page=' + ${pageButton}}" th:text="${pageButton}"></a>
                </li>
                <li th:class="${orderPage.currentPage == orderPage.totalPage ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{'?page=' + ${orderPage.currentPage + 1}}">></a>
                </li>
                <li>
                    <a class="page-link" th:href="@{'?page=' + ${orderPage.totalPage}}">≫</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
