<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/orderLayout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>주문 페이지</title>
</head>
<body>
<div layout:fragment="content">
    <h2>주문자 정보</h2>
    <div>
        <table class="table table-bordered table-hover">
            <tbody>
            <tr>
                <th scope="row" for="name" class="word">이름</th>
                <td style="display : flex">
                    <input type="text" id="name" class="text" th:field="*{ordererInfo.name}" placeholder="이름" required/>
                </td>
            </tr>
            <tr>
                <th>이메일</th>
                <td style="display : flex">
                    <input type="hidden" id="email" name="email" for="email" th:field="*{ordererInfo.email}"/>
                    <input type="text" id="emailId" class="text" style="margin-right: 10px;" required/>
                    <div style="padding-top: 10px;padding-bottom: 10px"> @</div>
                    <input type="text" id="emailDomain" class="text" required/>
                    <select class="select text" title="이메일 도메인 주소 선택"
                            onchange="setEmailDomain()">
                        <option value="">--선택--</option>
                        <option value="naver.com">naver.com</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="hanmail.com">hanmail.com</option>
                        <option value="korea.com"> korea.com</option>
                        <option value="nate.com">nate.com</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row" for="phoneNumber" class="word">전화번호</th>
                <td style="display : flex">
                    <input type="text" id="phoneNumber" class="text" th:field="*{ordererInfo.phoneNumber}"
                           placeholder="전화번호"
                           required/>
                    <div class="phoneNumber-invalid hide word" style="color:red;"> 형식에 맞춰 작성해주십시오.</div>
                    <div style="color:gray;" class="word"> (ex.010-1234-5678)</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-bottom: 20px;"></div>
    <h2>배송지 정보</h2>
    <div>
        <table class="table table-bordered table-hover">
            <tbody>
            <tr sec:authorize="isAuthenticated()">
                <th scope="row" for="alias">
                    배송지 선택
                </th>
                <td>
<!--                    회원 배송지 불러오는 부분-->
                </td>
            </tr>
            <tr>
                <th scope="row" for="zipcode">
                    우편번호
                </th>
                <td style="display : flex">
                    <input type="text" id="zipcode" class="text" th:field="*{addressInfo.zipcode}" readonly/>
                    <button type="button" class="postButton" onclick="postAddress()">우편번호 찾기</button>
                </td>
            </tr>
            <tr>
                <th scope="row" for="address">
                    주소
                </th>
                <td style="display : flex">
                    <input type="text" id="address" class="text" maxlength="100" th:field="*{addressInfo.address}" readonly/>
                </td>
            </tr>
            <tr>
                <th scope="row" for="detail" class="word">상세주소</th>
                <td style="display : flex">
                    <input type="text" id="detail" class="text" maxlength="100" th:field="*{addressInfo.addressDetail}" required/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>상품 정보</h2>
    <h2>결제 금액</h2>
    <h2>결제 정보</h2>
    <script src="/static/js/mypage/address.js"></script>
</div>
</body>
</html>