<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>포장지 선택 창</title>
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- Libraries Stylesheet -->
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/css/order.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<div>
    <h2 class="text-center">포장지 목록</h2>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th></th>
            <th>포장지 사진</th>
            <th>포장지 명</th>
            <th>가격</th>
        </tr>
        </thead>

        <input id="selectPackageId" th:value="1" type="hidden"/>
        <input id="selectPackagePrice" th:value="0" type="hidden"/>
        <tbody th:each="package : ${packages.data}">
        <tr>
            <td>
                <input id="packageId" th:value="${package.getPackageId()}" type="hidden"/>
                <input id="packagePrice" th:value="${package.getPrice()}" type="hidden"/>
                <input onclick="setPackageId(this)" th:checked="${package.name=='미포장'}" th:name="selectedPackage"
                       th:value="${package.getPackageId()}" type="radio">
            </td>
            <span th:if="${package.name == '미포장'}">
                <td></td>
                <td>
                    <span th:text="${package.name}"></span>
                </td>
                <td>
                    <span th:text="${package.price}"></span>
                </td>
            </span>

            <span th:if="${package.name != '미포장'}">
                <td>
                    <img alt="포장지 사진" height="100" th:src="${package.url}" width="100">
                </td>

                <td>
                    <span th:text="${package.name}"></span>
                </td>
                <td>
                    <span th:text="${package.price}"></span>
                </td>
            </span>
        </tr>
        </tbody>
    </table>
    <div style="margin-bottom: 20px;"></div>
    <input id="id" th:value="${id}" type="hidden">
    <button class="btn btn-primary" onclick="setPackage()">포장지 선택</button>

    <br/><br/>
    <nav aria-label="...">
        <ul class="pagination d-flex justify-content-center">
            <li>
                <a class="page-link" th:href="@{'?page=1'}">≪</a>
            </li>
            <li th:class="${packages.currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                <a class="page-link" th:href="@{'?page=' + ${packages.currentPage - 1 }}"><</a>
            </li>
            <li th:class="${packages.currentPage == pageButton ?   'page-item active' : 'page-item'}"
                th:each="pageButton : ${#numbers.sequence(packages.startPage,packages.endPage)}">
                <a class="page-link" th:href="@{'?page=' + ${pageButton}}" th:text="${pageButton}"></a>
            </li>
            <li th:class="${packages.currentPage == packages.totalPage ? 'page-item disabled' : 'page-item'}">
                <a class="page-link" th:href="@{'?page=' + ${packages.currentPage + 1}}">></a>
            </li>
            <li>
                <a class="page-link" th:href="@{'?page=' + ${packages.totalPage}}">≫</a>
            </li>
        </ul>
    </nav>

    <script src="/static/js/order/order.js"></script>
</div>
</body>
</html>
