<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">

<head>
    <title>G2nee shop main</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
                   style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">카테고리</h6>
                </a>
                <!-- 카테고리 리스트 동적으로 출력 부분-->
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
                     id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">

                        <!--root category 반복-->
                        <div class="nav-item dropdown" th:each="rootCategory : ${rootCategories}"
                             th:if="${rootCategory.isActivated}">
                            <div th:if="${rootCategory.isActivated}">
                                <a class="nav-link" data-toggle="dropdown"
                                   th:href="@{/shop(id = ${rootCategory.categoryId})}">
                                    <span th:text="${rootCategory.categoryName}"></span>
                                    <i class="fa fa-angle-down float-right mt-1"></i></a>


                                <!--sub category 반복-->
                                <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0"
                                     th:if="${!#lists.isEmpty(rootCategory.children)}">
                                    <div th:each="child : ${rootCategory.children}">
                                        <a class="dropdown-item"
                                           th:href="@{'/books/category/' +  ${child.categoryId}}">
                                            <span th:text="${child.categoryName}"></span></a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </nav>
            </div>

            <!--            신간 출력-->
            <div class="col-lg-9">
                <div class="row px-xl-5 pb-3">
                    <div th:each="book : ${bookList}" class="col-lg-4 col-md-6 pb-1">
                        <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px; height: 500px;">
                            <p class="text-right">Recent Published</p>
                            <a th:href="@{'/books/' + ${book.bookId}}"
                               class="cat-img position-relative overflow-hidden mb-3"
                               style="flex: 1; display: flex; justify-content: center; align-items: center; max-width: 100%; max-height: 300px;">
                                <img class="img-fluid" th:src="${book.thumbnailImageUrl}" alt="thumbnail"
                                     style="max-width: 100%; max-height: 100%; object-fit: contain;">
                            </a>
                            <h5 th:text="${book.title}" class="mb-2 text-center"></h5>
                            <p class="text-muted mb-2 text-center">
                                <span th:text="'$'+${book.salePrice}"></span>
                                <span th:text="'$'+${book.price}"
                                      style="color: gray; text-decoration: line-through;"></span>
                            </p>
                            <p style="text-align: center;"
                               th:text="${book.publisherName} +' | ' + ${book.publishedDate}"></p>
                            <div class="d-flex align-items-center justify-content-center mb-4 pt-2"
                                 th:if="${book.bookStatus.name() == 'SOLDOUT'}">
                                <span th:if="${book.bookStatus.name() == 'SOLDOUT'}" class="btn-primary px-4"
                                     style="padding: 10px 20px; background-color:  #ff1616; color: white; font-size: 1.2em;">매진</span>
                                <span th:if="${book.bookStatus.name() == 'OUTOFPRINT'}" class="btn-primary px-4"
                                      style="padding: 10px 20px; background-color: #808080; color: white; font-size: 1.2em;">절판</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>