<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/mypageLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>나의 주소 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
<div layout:fragment="content">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th></th>
            <th>주소 별칭</th>
            <th>우편 번호</th>
            <th>주소</th>
            <th></th>
        </tr>
        </thead>
        <input id="changeAddressId" type="hidden">
        <input id="addressLength" th:value="${addressList.size()}" type="hidden">
        <tbody th:each="address : ${addressList}">
        <tr>
            <td>
                <input id="addressId" th:value="${address.getAddressId()}" type="hidden"/>
                <input onclick="setDefaultAddress(this)" th:checked="${address.getIsDefault()}" th:name="selectedAddress"
                       th:value="${address.getAddressId()}" type="radio">
            </td>
            <td>
                <span th:text="${address.getAlias()}"></span>
                <span th:if="${address.getIsDefault()}">
                        <a>(기본 배송지)</a>
                </span>
            </td>
            <td>
                <span th:text="${address.getZipcode()}"></span>
            </td>
            <td>
                <span th:text="${address.getAddress} +' '+ ${address.getDetail()}"></span>
            </td>
            <td>
                <a class="btn btn-sm btn-primary"
                   th:href="@{'/mypage/address/delete/' + ${address.getAddressId()}}">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" onclick="saveAddressPopUp()"
            type="button">새 주소 등록
    </button>
    <button class="btn btn-primary" onclick="changeDefaultAddress()"
            type="button">기본 배송지 변경
    </button>

    <script src="/static/js/mypage/address.js"></script>
</div>

</body>
</html>