<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypageLayout}">
<head>
    <title>회원 탈퇴 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
<div layout:fragment="content">
    <h5 class="font-weight-semi-bold">회원 탈퇴를 위해 비밀번호를 재입력 해주십시오.</h5>
    <input type="hidden" id="memberId" th:value="${memberId}">
    <input type="hidden" id="username" th:value="${username}">
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th scope="row" for="password" class="order-word" style="width: 10%; color:red">비밀번호</th>
            <td style="display : flex">
                <span id="password" style="color:red"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary px-3" onclick="quit()">탈퇴 하기</button>

    <script src="/static/js/mypage/member.js"></script>
</div>
</body>
</html>