<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주소 등록 창</title>
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- Libraries Stylesheet -->
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- Libraries Stylesheet -->
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/css/order.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

</head>
<body>
<div style="margin:10px">
    <h3> 새 주소 등록 </h3>
    <table border="1" summary>
        <colgroup>
            <col style="width:150px;">
            <col style="width:450px;">
        </colgroup>
        <tbody>
        <tr>
            <th for="alias" scope="row">
                주소별칭
            </th>
            <td style="display : flex">
                <input class="text" id="alias" maxlength="20" required type="text"/>
            </td>
        </tr>
        <tr>
            <th for="zipcode" scope="row">
                우편번호
            </th>
            <td style="display : flex">
                <input class="text" id="zipcode" readonly type="text"/>
                <button type="button" class="postButton" onclick="postAddress()">우편번호 찾기</button>
            </td>
        </tr>
        <tr>
            <th for="address" scope="row">
                주소
            </th>
            <td style="display : flex">
                <input class="text" id="address" maxlength="100" readonly type="text"/>
            </td>
        </tr>
        <tr>
            <th for="detail" scope="row">
                상세주소
            </th>
            <td style="display : flex">
                <input class="text" id="detail" maxlength="50" required type="text"/>
            </td>
        </tr>
        <tr>
            <th for="isDefault" scope="row">
                기본 배송지 설정
            </th>
            <td style="display: flex; align-items: center;">
                <input id="isDefaultYes" name="isDefault" type="radio" value="true" style="margin-left:10px"> 예
                <input checked id="isDefaultNo" name="isDefault" type="radio" value="false" style="margin-left:10px"> 아니오
            </td>

        </tr>
        </tbody>
    </table>

    <div style="margin-bottom: 20px;"></div>
    <button class="btn btn-primary" onclick="saveAddressButton()">등록</button>
    <script src="/static/js/mypage/address.js"></script>
</div>
</body>
</html>

