<div class = "footer">

    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">g</span>2nee shop</h1>
                </a>
                <p>Nhn academy project t2m</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>nhn academy</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="/g2nee-front/src/main/resources/templates/main/index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-dark mb-2" href="/g2nee-front/src/main/resources/templates/main/shop.html"><i class="fa fa-angle-right mr-2"></i>Shop</a>
                            <a class="text-dark mb-2" href="/g2nee-front/src/main/resources/templates/main/detail.html"><i class="fa fa-angle-right mr-2"></i>로그인</a>
                            <a class="text-dark mb-2" href="/g2nee-front/src/main/resources/templates/main/cart.html"><i class="fa fa-angle-right mr-2"></i>회원가입</a>
                            <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>마이페이지</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>



</div>