<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/categoryLayout}">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          crossOrigin="anonymous" referrerpolicy="no-referrer"/>
    <title>G2nee Book shop</title>
</head>

<body>
<div layout:fragment="content">

    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <!-- 책 사진 설정 (여러개 가능) start -->
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div th:each="image, index : ${book.detailImageUrl}"
                             th:classappend="${index.index == 0} ? 'carousel-item active' : 'carousel-item'">
                            <img class="w-100 h-100" th:src="${image}" alt="Image">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>
            <!-- 책 사진 설정 (여러개 가능) end -->

            <!-- 책 세부 내용 start -->
            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">
                    <span th:text="${book.title}"></span>
                    <small class="text-muted ml-2" th:text="'- ' + ${book.engTitle}"></small>
                </h3>
                <span class="mb-3" th:each="contributorRole, index : ${book.contributorRoleList}"
                      th:text="${contributorRole.contributorName} + '(' + ${contributorRole.roleName} + ')' + (${index.last} ? '' : ', ')">
                </span>
                <br/>
                <span class="mb-3" th:text="${book.publisherName + ' | ' + book.publishedDate}"></span>
                <div>
                            <span th:each="tag : ${book.tagList}">
                                <span th:text="${tag.tagName}"></span>
                            </span>
                </div>
                <div class="d-flex mb-3">
                    <!-- 평점 -->
                    <div class="text-primary mr-2" id="star-rating">
                    </div>
                    <!-- 리뷰가 몇개인지 (눌렀을 때 리뷰페이지로 갈수있게) -->
                    <small class="pt-1" th:text="${book.scoreAverage} +' ('+${book.reviewCount} +' Reivews)'"></small>
                </div>
                <hr/>
                <h4 class="font-weight-semi-bold mb-4" th:text="'판매가 : ₩' + ${book.salePrice}"></h4>
                <h5 th:text="'정가 : ₩' + ${book.price}" style="color: gray; text-decoration: line-through;"></h5>
                <hr/>

                <div th:if="${book.bookStatus.name() == 'SOLDOUT' or book.bookStatus.name() == 'OUTOFPRINT'}" class="d-flex align-items-center mb-4 pt-2">
                   <span th:if="${book.bookStatus.name() == 'SOLDOUT'}" class="btn-primary px-4"
                         style="padding: 10px 20px; background-color:  #ff1616; color: white; font-size: 1.2em;">매진</span>
                    <span th:if="${book.bookStatus.name() == 'OUTOFPRINT'}" class="btn-primary px-4"
                          style="padding: 10px 20px; background-color: #808080; color: white; font-size: 1.2em;">절판</span>
                </div>
                <!-- 구매할 책 갯수 설정 -->
                <div th:unless="${book.bookStatus.name() == 'SOLDOUT' or book.bookStatus.name() == 'OUTOFPRINT'}" class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3" style="margin-right: 10px"><i class="fa fa-shopping-cart mr-1"></i> 장바구니 담기</button>
                    <a class="btn btn-sm text-dark p-0"
                                                            th:data-bookId="${book.bookId}"
                                                            th:data-liked="${book.isLiked().toString()}"
                                                            th:data-likesNum="${likesNum}"
                                                            th:data-memberId="${memberId}">
                        <a class="btn btn-sm text-dark p-0" th:data-bookId="${book.bookId}"
                           th:data-liked="${book.isLiked().toString()}" th:data-likesNum="${likesNum}"
                           th:data-memberId="${memberId}">
                            <i class="fa-regular fa-heart text-primary" style="font-size: 24px"
                               th:if="${book.isLiked() == false}"></i>
                            <i class="fa-solid fa-heart text-primary" style="font-size: 24px"
                               th:if="${book.isLiked() == true}"></i>
                        </a>
                    </a>
                </div>
            </div>
        </div>
        <!-- 책 세부내용 start -->
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Information</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2"
                       th:data-bookId="${book.bookId}" th:text="'Reviews (' + ${book.reviewCount} +')'"></a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">도서 정보</h4>
                        <p th:text="'페이지 수 : ' + ${book.pages} + '쪽'"></p>
                        <p th:text="'ISBN : ' + ${book.isbn}"></p>
                        <div th:each="categoryList : ${book.categoryList}">
                            <span th:each="category, index : ${categoryList}" th:inline="text">
                             <span th:style="${index.last}? 'font-weight: bold' : ''"
                                   th:text="${category.categoryName + (index.last ? '' : ' > ')}"></span>
                            </span>
                        </div>
                        <div class="info"></div>
                        <hr/>
                        <h4 class="mb-3">책 소개</h4>
                        <p class="mb-4" th:text="${book.description}"></p>
                       <hr/>
                        <div>
                            <h4 class="mb-3">목차</h4>
                            <p th:text="${book.bookIndex}"></p>
                        </div>
                    </div>

                    <!-- 리뷰 list start -->
                    <div class="tab-pane fade" id="tab-pane-2">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="mb-4">리뷰 목록</h4>
                                <div class="media mb-4" th:each="review : ${reviewPage.data}"
                                     th:if="${reviewPage.data.size() > 0}">
                                    <img alt="Image" class="img-fluid mr-3 mt-1" th:if="${review.imageUrl != null}"
                                         th:src="${review.imageUrl}"
                                         style="width: 45px;">
                                    <div class="media-body">
                                        <h6>
                                            <span th:text="${review.nickname} +' - '">  </span>
                                            <small class="text-muted"
                                                   th:text="${review.modifiedAt == null ? #temporals.format(review.createdAt, 'yyyy-MM-dd HH:mm:ss') : #temporals.format(review.modifiedAt, 'yyyy-MM-dd HH:mm:ss') + ' (수정됨)'}"></small>
                                        </h6>
                                        <div class="text-primary mb-2">
                                            <span th:each="i : ${#numbers.sequence(1, review.score)}"
                                                  th:if="${review.score == 5}">
                                                 <i class="fas fa-star"></i>
                                            </span>
                                            <span th:each="i : ${#numbers.sequence(1, review.score)}"
                                                  th:unless="${review.score == 5}">
                                                <i class="fas fa-star"></i></span>
                                            <span th:each="i : ${#numbers.sequence(review.score+1, 5)}"
                                                  th:unless="${review.score == 5}">
                                                <i class="far fa-star"></i>
                                            </span>
                                        </div>
                                        <p id="reviewContent" th:text="${review.content}"></p>
                                        <button class="btn btn-outline-primary btn-sm" id="modifyButton"
                                                th:data-reviewContent="${review.content}"
                                                th:data-reviewId="${review.reviewId}"
                                                th:data-reviewScore="${review.score}"
                                                th:if="${review.memberId == memberId}"
                                                type="button">수정
                                        </button>
                                    </div>
                                </div>
                                <div class="media mb-4" th:unless="${reviewPage.data.size() > 0}">
                                </div>
                                <div id="reviews">
                                </div>
                                <button th:if="${reviewPage.totalElements > 5}" class="btn btn-primary"
                                        id="loadMoreButton">
                                    더보기
                                </button>
                            </div>
                            <div class="col-md-6">
                                <h4 class="mb-4" id="reviewTitle">리뷰작성</h4>
                                <div th:if="${memberId != null}">
                                    <div class="form-group">
                                <div class="d-flex my-3">
                                    <p class="mb-0 mr-2">나의 평점 :</p>
                                    <div class="text-primary">
                                        <i class="far fa-star" id="starScore1"></i>
                                        <i class="far fa-star" id="starScore2"></i>
                                        <i class="far fa-star" id="starScore3"></i>
                                        <i class="far fa-star" id="starScore4"></i>
                                        <i class="far fa-star" id="starScore5"></i>
                                    </div>
                                </div>
                                    </div>

                                    <form enctype="multipart/form-data" id="postReviewForm"
                                          th:action="@{'/reviews'}"
                                          th:method="post">
                                    <div class="form-group">
                                        <label class="form-label" for="image">리뷰 이미지</label>
                                        <input accept="image/*" class="form-control-file" id="image" name="image"
                                               type="file">
                                    </div>

                                    <div class="form-group">
                                        <label for="content">리뷰 내용</label>
                                        <textarea class="form-control" cols="30" id="content" name="content" required
                                                  rows="5"></textarea>
                                    </div>
                                    <div class="form-group mb-0">
                                        <input id="postScore" name="score" type="hidden">
                                        <input name="memberId" th:value="${memberId}" type="hidden">
                                        <input name="bookId" th:value="${bookId}" type="hidden">
                                        <button class="btn btn-primary px-3" id="checkReview" type="button">리뷰 작성
                                        </button>
                                    </div>
                                </form>
                                    <form enctype="multipart/form-data" id="modifyReviewForm"
                                          th:action="@{'/reviews'}"
                                          th:method="patch">
                                        <div class="form-group">
                                            <label for="content">리뷰 내용</label>
                                            <textarea class="form-control" cols="30" id="modifyContent"
                                                      name="content"
                                                      required
                                                      rows="5"></textarea>
                                        </div>
                                        <div class="form-group mb-0">
                                            <input id="modifyScore" name="score" type="hidden">
                                            <input name="memberId" th:value="${memberId}" type="hidden">
                                            <input name="bookId" th:value="${bookId}" type="hidden">
                                            <button class="btn btn-primary px-3" id="modifyReview" type="button">리뷰
                                                수정
                                            </button>
                                            <button class="btn btn-primary px-3" id="cancelButton" type="button">취소
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div th:if="${memberId == null}">
                                    <div class="alert alert-light" role="alert">
                                        리뷰는 회원만 작성할 수 있습니다.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->


    <!-- 같은 카테고리 추천책 start -->
    <div class="container-fluid py-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">인기 있는 추천 책 리스트</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel related-carousel">
                    <div th:each="book : ${bookList}" class="card product-item border-0">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" th:src="${book.thumbnailImageUrl}" alt="thumbnail">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3" th:text="${book.title}"></h6>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a th:href="@{'/books/' + ${book.bookId}}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>상세보기</a>
                            <a href="" class="btn btn-sm text-dark p-0"><i
                                    class="fas fa-shopping-cart text-primary mr-1"></i>장바구니 담기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 같은 카테고리 추천책 end -->
</div>
</body>

</html>
<script src="/static/js/book/setLike.js">
</script>
<script th:inline="javascript">

    // 평균 별점
    window.onload = function () {
        var scoreAverage = Math.floor([[${book.scoreAverage}]]);
        var scoreDecimal = [[${book.scoreAverage}]] % 1;
        const starRatingElement = document.getElementById('star-rating');
        let stars = '';

        for (let i = 0; i < scoreAverage; i++) {
            stars += '<small> <i class="fas fa-star"></i></small>';
        }

        if (scoreDecimal > 0) {
            if (scoreDecimal <= 0.25) {
                stars += '<small> <i class="far fa-star"></i></small>';
            } else if (scoreDecimal <= 0.75) {
                stars += '<small> <i class="fas fa-star-half-alt"></i></small>';
            } else {
                stars += '<small> <i class="fas fa-star"></i></small>';
            }
        }

        for (let i = 5 - Math.ceil([[${book.scoreAverage}]]); i > 0; i--) {
            stars += '<small> <i class="far fa-star"></i></small>';
        }

        starRatingElement.innerHTML = stars;
    }


    // 별점 클릭 이벤트
    let score = document.querySelector('#postScore').value = 5;
    let modifyScore = document.querySelector('#modifyScore').value = 5;

    function init() {
        let stars = document.querySelectorAll('[id^="starScore"]');
        stars.forEach((star, index) => {
            star.addEventListener('click', () => {
                score = index;  // 별의 개수를 업데이트합니다.
                modifyScore = index;
                document.querySelector('#postScore').value = index + 1;
                document.querySelector('#modifyScore').value = index + 1;
                // 모든 별을 far 클래스로 초기화합니다.
                stars.forEach((star) => star.className = 'far fa-star');

                for (let i = 0; i < score + 1; i++) {
                    stars[i].className = "fas fa-star";
                }

            });
        });
    }

    init();

    // 비회원 리뷰 생성 막기, 리뷰 하나만 작성
    document.querySelector('#checkReview').addEventListener('click', function (event) {

        let memberId = [[${memberId}]];

        //TODO: orderId 추가해서 주문한 회원만 리뷰쓸 수 있도록
        if (memberId === undefined) {
            alert('리뷰는 회원만 작성할 수 있습니다');
            event.preventDefault();
            return
        }
        let bookId = [[${bookId}]];

        fetch(`/reviews?memberId=${memberId}&bookId=${bookId}`, {
            method: 'GET'
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                //TODO: 나중에 주문한 횟수만큼만 리뷰 작성하도록
                if (data === false) {
                    alert('리뷰는 하나만 작성할 수 있습니다.')
                    event.preventDefault();

                } else {
                    document.querySelector('#postReviewForm').submit();
                }
            })
            .catch(error => console.error('Error:', error));

    })

    let page = [[${reviewPage.currentPage}]];
    // 리뷰 더보기
    document.getElementById('loadMoreButton').addEventListener('click', function () {
        let bookId = [[${book.bookId}]];
        page += 1;

        fetch('/reviews/book/' + bookId + '?page=' + page)
            .then(response => response.json())
            .then(reviewPage => {
                let reviewList = reviewPage.data;
                if (reviewList.length < 5) {
                    document.getElementById("loadMoreButton").remove();
                }

                reviewList.forEach(review => {

                    // 새로운 'media' div 요소를 생성합니다.
                    var reviewDiv = document.createElement('div');
                    reviewDiv.className = 'media mb-4';

                    // 이미지가 있는 경우, img 요소를 생성합니다.
                    if (review.imageUrl != null) {
                        var img = document.createElement('img');
                        img.src = review.imageUrl;
                        img.alt = 'Image';
                        img.className = 'img-fluid mr-3 mt-1';
                        img.style.width = '45px';
                        reviewDiv.appendChild(img);
                    }

                    // 'media-body' div 요소를 생성합니다.
                    var reviewBodyDiv = document.createElement('div');
                    reviewBodyDiv.className = 'media-body';

                    // 리뷰 작성자와 작성 시간을 표시하는 h6 요소를 생성합니다.
                    var h6 = document.createElement('h6');
                    var span = document.createElement('span');
                    var small = document.createElement('small')
                    let date = review.createdAt.slice(0, 3).join('-');
                    let time = review.createdAt.slice(3).join(':');
                    let formattedDate = date + ' ' + time;
                    span.textContent = review.nickname + ' - ';
                    small.textContent = formattedDate;

                    h6.appendChild(span);
                    h6.appendChild(small);

                    reviewBodyDiv.appendChild(h6);

                    // 별점을 표시하는 div 요소를 생성합니다.

                    var starsDiv = document.createElement('div');
                    starsDiv.className = 'text-primary mb-2';
                    for (var i = 0; i < review.score; i++) {
                        var starSpan = document.createElement('span');
                        var star = document.createElement('i');
                        star.className = 'fas fa-star';
                        starSpan.style.marginRight = '5px'
                        starSpan.appendChild(star);
                        starsDiv.appendChild(starSpan);
                    }
                    for (var i = review.score; i < 5; i++) {
                        var starSpan = document.createElement('span');
                        var star = document.createElement('i');
                        star.className = 'far fa-star';
                        starSpan.style.marginRight = '5px'
                        starSpan.appendChild(star);
                        starsDiv.appendChild(starSpan);
                    }
                    reviewBodyDiv.appendChild(starsDiv);

                    // 리뷰 내용을 표시하는 p 요소를 생성합니다.
                    var p = document.createElement('p');
                    p.textContent = review.content;
                    reviewBodyDiv.appendChild(p);

                    // 'media' div 요소에 'media-body' div 요소를 추가합니다.
                    reviewDiv.appendChild(reviewBodyDiv);

                    // 리뷰 목록에 새로운 'media' div 요소를 추가합니다.
                    document.getElementById('reviews').appendChild(reviewDiv);
                });
            })
            .catch(error => {
                console.error('Error:', error);
                alert(error.message)
            });
    });

    // 리뷰 등록 수정 //
    document.querySelector('#postReviewForm').style.display = 'block';
    document.querySelector('#modifyReviewForm').style.display = 'none';

    // 리뷰 수정 버튼
    document.querySelectorAll('#modifyButton').forEach(function (button) {
        button.addEventListener('click', function () {

            let reviewId = this.dataset.reviewid
            let reviewContent = this.dataset.reviewcontent

            document.querySelector('#postReviewForm').style.display = 'none';
            document.querySelector('#modifyReviewForm').style.display = 'block';

            document.getElementById('reviewTitle').textContent = '리뷰수정';
            document.getElementById('modifyContent').textContent = reviewContent;

            document.querySelector('#modifyReview').addEventListener('click', function () {
                let input = document.createElement('input');
                input.setAttribute('type', 'hidden');
                input.setAttribute('name', 'reviewId');
                input.setAttribute('value', reviewId);
                document.querySelector('#modifyReviewForm').appendChild(input);
                document.querySelector('#modifyReviewForm').submit();
                alert('리뷰가 수정되었습니다.');

            })

            // 취소 버튼
            document.querySelector('#cancelButton').addEventListener('click', function () {

                document.querySelector('#postReviewForm').style.display = 'block';
                document.querySelector('#modifyReviewForm').style.display = 'none';
                document.getElementById('reviewTitle').textContent = '리뷰작성';
            })
        });
    });
</script>

