<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/categoryLayout}" xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          crossOrigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>G2nee Book shop</title>
</head>

<body>
<div layout:fragment="content">

    <div class="row pb-3">
        <div class="col-12 pb-1">
            <h5 th:if="${keyword != null}">
                <span th:text="${conditionName} + ' : '"></span>
                <span style="font-weight: bold;" th:text="${keyword}"></span>
                <span th:text="' 검색어로 검색한 결과'"></span>
            </h5>
            <h6 th:if="${keyword != null}"
                th:text="'검색 결과 : ' + ${bookPage.totalElements} + ' 건'">
            </h6>
            <div class="d-flex align-items-center justify-content-between mb-4">
                <!-- 검색 부분 start -->
                <form th:action="@{'/books/search'}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search by name" name="keyword">
                        <input type="hidden" class="form-control" name="sort" th:value="${sort}">
                        <input type="hidden" class="form-control" name="condition" th:value="${condition}">
                        <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <i class="fa fa-search"></i>
                                        </span>
                        </div>
                    </div>
                </form>
                <!-- 검색 부분 end -->

                <!-- sort 버튼 start -->
                <div class="dropdown ml-4">
                    <button class="btn border dropdown-toggle" type="button" id="triggerId"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" th:text="${sortName}">
                        Sort by
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                        <a class="dropdown-item"
                           th:href="@{${keyword != null ? '?keyword=' + keyword + '&sort=accuracy&condition=' + condition : '?sort=accuracy&condition=' + condition}}">정확도
                            순</a>
                        <a class="dropdown-item"
                           th:href="@{${keyword != null ? '?keyword=' + keyword + '&sort=viewCount&condition=' + condition : '?sort=viewCount&condition=' + condition}}">인기도
                            순</a>
                        <a class="dropdown-item"
                           th:href="@{${keyword != null ? '?keyword=' + keyword + '&sort=publishedDate&condition=' +condition : '?sort=publisherDate&condition=' + condition}}">출간일
                            순</a>
                        <a class="dropdown-item"
                           th:href="@{${keyword != null ? '?keyword=' + keyword + '&sort=salePriceAsc&condition=' +condition : '?sort=salePriceAsc&condition=' + condition}}">가격
                            낮은 순</a>
                        <a class="dropdown-item"
                           th:href="@{${keyword != null ? '?keyword=' + keyword + '&sort=salePriceDesc&condition=' + condition : '?sort=salePriceDesc&condition=' + condition}}">가격
                            높은 순</a>
                        <a class="dropdown-item"
                           th:href="@{${keyword != null ? '?keyword=' + keyword + '&sort=score&condition=' + condition : '?sort=score&condition=' + condition}}">평점
                            순</a>
                        <a class="dropdown-item"
                           th:href="@{${keyword != null ? '?keyword=' + keyword + '&sort=score&condition=' + condition : '?sort=score&condition=' + condition}}">리뷰
                            순</a>
                    </div>
                </div>
                <!-- sort 버튼 end -->
            </div>
        </div>

        <!-- 도서 목록 start -->
        <div class="col-lg-2.5 col-md-3 col-sm-4 col-6 pb-1" th:each="book : ${bookPage.data}">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <a th:href="@{'/books/' + ${book.bookId}}">
                        <img class="img-fluid w-100 h-100"
                             th:src="${book.thumbnailImageUrl}" alt="썸네일">
                    </a>
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <a th:href="@{'/books/' + ${book.bookId}}">
                        <h6 class="text-truncate mb-3; font-weight-semi-bold;" style="font-size: 20px;"
                            th:text="${book.title}"></h6>
                    </a>
                    <span th:with="contributorRole = ${book.contributorRoleList[0]}">
                     <span th:text="${contributorRole.contributorName} + '(' + ${contributorRole.roleName} + ')' + ' '"
                           style="text-align: center"></span>
                         <span th:if="${book.contributorRoleList.size() > 1}"
                               th:text="'외 ' + ${book.contributorRoleList.size() - 1} + '명'"></span>
                      </span>
                    <div class="d-flex justify-content-center">
                        <h6 th:text="'₩' + ${#numbers.formatInteger(book.getSalePrice(), 0, 'COMMA')}"></h6>
                        <h6 class="text-muted ml-2">
                            <del th:text="'₩' + ${#numbers.formatInteger(book.getPrice(), 0, 'COMMA')}"></del>
                        </h6>
                    </div>
                    <div>
                        <p style="text-align: center;"
                           th:text="${book.publisherName} +' | ' + ${book.publishedDate}"></p>
                    </div>
                    <span th:if="${book.bookStatus.name() == 'SOLDOUT'}"
                          class="badge rounded-pill bg-danger" style="color: white; font-size: 1.1em;"
                          th:text="매진"></span>
                    <span th:if="${book.bookStatus.name() == 'OUTOFPRINT'}"
                          class="badge rounded-pill bg-dark" style="color: white; font-size: 1.1em;"
                          th:text="절판"></span>
                </div>
                <div th:unless="${book.bookStatus.name() == 'SOLDOUT'} or ${book.bookStatus.name() == 'OUTOFPRINT'}"
                     class="card-footer d-flex justify-content-between bg-light border">
                    <a id="likes" class="btn btn-sm text-dark p-0" th:data-bookId="${book.bookId}"
                       th:data-liked="${book.isLiked().toString()}" th:data-likesNum="${likesNum}"
                       th:data-memberId="${memberId}">
                        <i class="fa-regular fa-heart text-primary" style="font-size: 20px"
                           th:if="${book.isLiked() == false}"></i>
                        <i class="fa-solid fa-heart text-primary" style="font-size: 20px"
                           th:if="${book.isLiked() == true}"></i>
                    </a>
                    <small th:text="${book.scoreAverage} + ' (' + ${book.reviewCount} +' Reviews)'"></small>
                    <button id="cartButton"
                            th:data-bookId="${book.bookId}"
                            th:data-bookTitle="${book.title}"
                            th:data-bookQuantity="${book.quantity}"
                            th:data-cartItemNum="${cartItemNum}"
                            class="btn btn-sm text-dark p-0">
                        <i class="fas fa-shopping-cart text-primary mr-1"></i>장바구니에 추가
                    </button>
                    <input id="quantity" type="hidden" value="1">
                </div>
            </div>
        </div>
        <!-- 도서 목록 end -->

        <!-- 페이지 넘기기 start -->
        <div class="col-12 pb-1">
            <nav aria-label="...">
                <ul class="pagination row justify-content-center">
                    <li>
                        <a class="page-link"
                           th:href="@{'?page=1'+'&sort=' +${sort}+'&condition='+${condition} +${keyword != null ? '&keyword=' + keyword : ''}}">≪</a>
                    </li>
                    <li th:class="${bookPage.currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link"
                           th:href="@{'?page=' + ${bookPage.currentPage - 1 } +'&sort=' +${sort} +'&condition='+${condition} + ${keyword != null ? '&keyword=' + keyword : ''}}"><</a>
                    </li>
                    <li th:each="pageButton : ${#numbers.sequence(bookPage.startPage,bookPage.endPage)}"
                        th:class="${bookPage.currentPage == pageButton ?   'page-item disabled' : 'page-item'}">
                        <a class="page-link"
                           th:href="@{'?page=' + ${pageButton}+'&sort=' +${sort} + '&condition='+${condition} + ${keyword != null ? '&keyword=' + keyword : ''}}"
                           th:text="${pageButton}"></a>
                    </li>
                    <li th:class="${bookPage.currentPage == bookPage.totalPage ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link"
                           th:href="@{'?page=' + ${bookPage.currentPage + 1}+'&sort=' +${sort} + '&condition='+${condition} + ${keyword != null ? '&keyword=' + keyword : ''}}">></a>
                    </li>
                    <li>
                        <a class="page-link"
                           th:href="@{'?page=' + ${bookPage.totalPage}+'&sort=' +${sort} + '&condition='+${condition} + ${keyword != null ? '&keyword=' + keyword : ''}}">≫</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- 페이지 넘기기 end -->
    </div>
</div>
</body>

</html>
<script src="/static/js/book/setLike.js"></script>
<script src="/static/js/book/putBookInCart.js">
</script>




