<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/categoryLayout}">
<head>
    <title>회원 로그인 페이지</title>
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
<div layout:fragment="content">
    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <form>
            <div>
                <table border="1" summary>
                    <colgroup>
                        <col style="width:150px;">
                        <col style="width:300px;">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row" for="username" class="word">아이디</th>
                        <td style="display : flex">
                            <input type="text" id="username" name="username" placeholder="아이디"/>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" for="password" class="word">비밀번호</th>
                        <input type="password" id="password" name="password" placeholder="비밀번호"/>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div style="margin-bottom: 20px;"></div>
            <button type="button" onclick="loginSubmit()">로그인</button>
        </form>
    </div>
    <!-- Shop Detail End -->
    <script src="/static/js/member/login.js"></script>
</div>


</body>

</html>