<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/categoryLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>회원가입 페이지</title>
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
<div layout:fragment="content">
    <form method="post" onsubmit="return signupSubmit()" th:action th:object="${signupForm}">
        <h3>정보입력</h3>
        <div>
            <table class="table table-bordered table-hover">
                <colgroup>
                    <col style="width:150px;">
                    <col style="width:1000px;">
                </colgroup>
                <tbody>
                <tr>
                    <th class="word" for="username" scope="row">
                        아이디
                    </th>
                    <td style="display : flex">
                        <input class="text" id="username"
                               placeholder="아이디"
                               required
                               th:field="*{userName}" type="text"/>
                        <div class="username-unUsable hide word" style="color:red;">사용중인 아이디입니다.</div>
                        <div class="username-usable hide word" style="color:red;">사용가능한 아이디입니다.</div>
                        <div class="username-invalid hide word" style="color:red;"> 형식이 올바르지
                            않습니다.
                        </div>
                        <div class="word" style="color:gray;"> (영문소문자/숫자, 4~16자)</div>
                    </td>
                </tr>
                <tr>
                    <th class="word" for="password" scope="row">비밀번호</th>
                    <td style="display : flex">
                        <input class="text" id="password" placeholder="비밀번호" required th:field="*{password}"
                               type="password"/>
                        <div class="password-invalid hide word" style="color:red;"> 형식이 올바르지 않습니다.</div>
                        <div class="word" style="color:gray;"> (영문 대소문자/숫자/특수문자 중 3가지 이상 조합, 8자~20자)</div>
                    </td>
                </tr>
                <tr>
                    <th class="word" for="passwordCheck" scope="row">비밀번호 재확인</th>
                    <td style="display : flex">
                        <input class="text" id="passwordCheck" placeholder="비밀번호" required type="password"/>
                        <div class="password-incorrect hide word" style="color:red;"> 비밀번호가 일치하지 않습니다.</div>
                    </td>
                </tr>
                <tr>
                    <th class="word" for="name" scope="row">이름</th>
                    <td style="display : flex">
                        <input class="text" id="name" placeholder="이름" required th:field="*{name}" type="text"/>
                        <div class="name-invalid hide word" style="color:red;"> 영어/한글 2-20자로 작성해주십시오.</div>
                    </td>
                </tr>
                <tr>
                    <th class="word" for="nickname" scope="row">닉네임</th>
                    <td style="display : flex">
                        <input class="text" id="nickname" placeholder="닉네임" required th:field="*{nickName}"
                               type="text"/>
                        <div class="nickname-unUsable hide word" style="color:red;">사용중인 닉네임입니다.</div>
                        <div class="nickname-usable hide word" style="color:red;">사용가능한 닉네임입니다.</div>
                        <div class="nickname-invalid hide word" style="color:red;"> 한글/영어/숫자/'_'/'.' 2-10자로 작성해주십시오.
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="word" for="email" scope="row">이메일</th>
                    <td style="display : flex">
                        <input for="email" id="email" name="email" type="hidden"/>
                        <input class="text" id="emailId" required style="margin-right: 10px;" type="text"/>
                        <div style="padding-top: 10px;padding-bottom: 10px"> @</div>
                        <input class="text" id="emailDomain" required type="text"/>
                        <select class="select text" id="selectEmail" onchange="setEmailDomain()"
                                title="이메일 도메인 주소 선택">
                            <option value="">--선택--</option>
                            <option value="naver.com">naver.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="hanmail.com">hanmail.com</option>
                            <option value="korea.com"> korea.com</option>
                            <option value="nate.com">nate.com</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="word" for="phoneNumber" scope="row">전화번호</th>
                    <td style="display : flex">
                        <input class="text" id="phoneNumber" placeholder="전화번호" required th:field="*{phoneNumber}"
                               type="text"/>
                        <div class="phoneNumber-invalid hide word" style="color:red;"> 형식을 맞춰 작성해주십시오.</div>
                        <div class="word" style="color:gray;"> (ex.010-1234-5678)</div>
                    </td>
                </tr>
                <tr>
                    <th class="word" for="birthday" scope="row">생년월일</th>
                    <td style="display : flex">
                        <label class="text" for="date">날짜를 선택하세요:
                            <input id="birthday" th:field="*{birthday}" type="hidden"/>
                            <input id="date"
                                   min="1900-01-01"
                                   type="date">
                            <script>
                                // 현재 날짜를 가져오는 함수
                                function getCurrentDate() {
                                    let today = new Date();
                                    let year = today.getFullYear();
                                    let month = (today.getMonth() + 1).toString().padStart(2, '0');
                                    let day = today.getDate().toString().padStart(2, '0');
                                    return `${year}-${month}-${day}`;
                                }

                                // 오늘 날짜를 max 속성에 설정
                                document.getElementById('date').setAttribute('max', getCurrentDate());
                            </script>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="word" for="gender" scope="row">성별</th>
                    <td style="display: flex; align-items: center;">
                        <label class="word" for="male">남</label>
                        <input checked class="radio text" id="male" name="gender" type="radio" value="Male">
                        <label class="word" for="female">여</label>
                        <input class="radio text" id="female" name="gender" type="radio" value="Female">
                        <input th:field="*{gender}" type="hidden">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="margin-bottom: 20px;"></div>
        <div style="text-align: center;">
            <button class="btn btn-primary" type="submit">회원가입</button>
        </div>
    </form>


    <script src="/static/js/member/signup.js"></script>
</div>


</body>

</html>