<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/categoryLayout}">
<head>
    <title>회원가입 페이지</title>
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
<div layout:fragment="content">
    <form th:action th:object="${signupForm}" method="post" onsubmit="return signupSubmit()">
        <h3>정보입력</h3>
        <div>
            <table border="1" summary>
                <colgroup>
                    <col style="width:150px;">
                    <col style="width:1000px;">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row" for="username" class="word">
                        아이디
                    </th>
                    <td style="display : flex">
                        <input type="text" id="username"
                               class="text"
                               th:field="*{userName}"
                               placeholder="아이디" required/>
                        <div class="username-unUsable hide word" style="color:red;">사용중인 아이디입니다.</div>
                        <div class="username-usable hide word" style="color:red;">사용가능한 아이디입니다.</div>
                        <div class="username-invalid hide word" style="color:red;"> 형식이 올바르지
                            않습니다.
                        </div>
                        <div style="color:gray;" class="word"> (영문소문자/숫자, 4~16자)</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" for="password" class="word">비밀번호</th>
                    <td style="display : flex">
                        <input type="password" id="password" class="text" th:field="*{password}" placeholder="비밀번호" required/>
                        <div class="password-invalid hide word" style="color:red;"> 형식이 올바르지 않습니다.</div>
                        <div style="color:gray;" class="word"> (영문 대소문자/숫자/특수문자 중 3가지 이상 조합, 8자~20자)</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" for="passwordCheck" class="word">비밀번호 재확인</th>
                    <td style="display : flex">
                        <input type="password" id="passwordCheck" class="text" placeholder="비밀번호" required/>
                        <div class="password-incorrect hide word" style="color:red;"> 비밀번호가 일치하지 않습니다.</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" for="name" class="word">이름</th>
                    <td style="display : flex">
                        <input type="text" id="name" class="text" th:field="*{name}" placeholder="이름" required/>
                        <div class="name-invalid hide word" style="color:red;"> 영어/한글 2-20자로 작성해주십시오.</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" for="nickname" class="word">닉네임</th>
                    <td style="display : flex">
                        <input type="text" id="nickname" class="text" th:field="*{nickName}" placeholder="닉네임" required/>
                        <div class="nickname-unUsable hide word" style="color:red;">사용중인 닉네임입니다.</div>
                        <div class="nickname-usable hide word" style="color:red;">사용가능한 닉네임입니다.</div>
                        <div class="nickname-invalid hide word" style="color:red;"> 한글/영어/숫자/'_'/'.' 2-10자로 작성해주십시오.
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" for="email" class="word">이메일</th>
                    <td style="display : flex">
                        <input type="hidden" id="email" name="email" for="email" />
                        <input type="text" id="emailId" class="text" required/>
                        <div style="padding-top: 10px;padding-bottom: 10px"> @</div>
                        <input type="text" id="emailDomain" class="text" required/>
                        <select class="select text" title="이메일 도메인 주소 선택"
                                onchange="setEmailDomain()">
                            <option value="">--선택--</option>
                            <option value="naver.com">naver.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="hanmail.com">hanmail.com</option>
                            <option value="korea.com"> korea.com</option>
                            <option value="nate.com">nate.com</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row" for="phoneNumber" class="word">전화번호</th>
                    <td style="display : flex">
                        <input type="text" id="phoneNumber" class="text" th:field="*{phoneNumber}" placeholder="전화번호" required/>
                        <div class="phoneNumber-invalid hide word" style="color:red;"> 전화번호를 입력해주십시오.</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" for="birthday" class="word">생년월일</th>
                    <td style="display : flex">
                        <label for="date" class="text">날짜를 선택하세요:
                            <input type="hidden" id="birthday" th:field="*{birthday}"/>
                            <input type="date"
                                   id="date"
                                   min="1900-01-01">
                            <script>
                                // 현재 날짜를 가져오는 함수
                                function getCurrentDate() {
                                    let today = new Date();
                                    let year = today.getFullYear();
                                    let month = (today.getMonth() + 1).toString().padStart(2, '0');
                                    let day = today.getDate().toString().padStart(2, '0');
                                    return `${year}-${month}-${day}`;
                                }

                                // 오늘 날짜를 max 속성에 설정
                                document.getElementById('date').setAttribute('max', getCurrentDate());
                            </script>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th scope="row" for="gender" class="word">성별</th>
                    <td style="display: flex; align-items: center;">
                        <label for="male" class="word">남</label>
                        <input type="radio" id="male" class="radio text" name="gender" value="Male" checked>
                        <label for="female" class="word">여</label>
                        <input type="radio" id="female" class="radio text" name="gender" value="Female">
                        <input type="hidden" th:field="*{gender}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 style="margin-top: 30px">이용약관 동의</h3>
        <div>

        </div>
        <button type="submit">회원가입</button>

    </form>

    <script src="static/js/member/signup.js"></script>
</div>


</body>

</html>