<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>

    <link rel="stylesheet" href="/css/member/signUp.css">

</head>
<body>

<form method="post" action="/signup">
    <label for="username">아이디</label>
    <input type="text" id="username" placeholder="아이디" />
    <div class="username-invalid hide">영어와 숫자만 사용한 4-20자의 형식이나 이메일의 형식으로 작성하여 주십시오.</div>

    <br />
    <label for="password">비밀번호</label>
    <input type="password" id="password" placeholder="비밀번호" />
    <div class="password-invalid hide">영어 숫자, 특수문자를 포함하여 8-20자의 형식으로 작성하여 주십시오.</div>

    <br />
    <label for="passwordCheck">비밀번호재확인</label>
    <input type="password" id="passwordCheck" placeholder="비밀번호재확인" />
    <div class="password-incorrect hide">비밀번호가 일치하지 않습니다.</div>

    <br />
    <label for="name">이름</label>
    <input type="text" id="name" placeholder="이름" />
    <div class="name-invalid hide">영어와 한글만 사용하여 2-20자의 형식으로 작성하여 주십시오.</div>

    <br />
    <label for="nickname">닉네임</label>
    <input type="text" id="nickname" placeholder="닉네임" />
    <div class="nickname-invalid hide">한글,영어,숫자,'_','.'을 사용한 2-10자의 형식으로 작성하여 주십시오.</div>

    <br />
    <label for="email">이메일</label>
    <input type="text" id="email" placeholder="이메일" />
    <div class="email-invalid hide">올바른 email 형식으로 작성하여 주십시오.</div>

    <br />
    <label for="phoneNumber">전화번호</label>
    <input type="text" id="phoneNumber" placeholder="전화번호" />
    <div class="phoneNumber-invalid hide">010-1234-5678 의 형식으로 작성하여 주십시오.</div>

    <br />
    <button type="submit">회원가입</button>

</form>

<script src="/js/member/signUp.js"></script>
</body>
</html>