<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- 다른 페이지에 포함시킬 영역을 th:fragment로 선언해준다.-->
<div th:fragment="header">
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a href="/books" class="nav-item nav-link active">Home</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="d-inline-flex" sec:authorize="isAnonymous()">
                        <a href="/login" class="nav-item nav-link">로그인</a>
                        <a href="/signup" class="nav-item nav-link">회원가입</a>
                        <a href="/order/customLogin" class="nav-item nav-link">비회원 주문조회</a>
                    </div>
                    <div class="d-inline-flex" sec:authorize="isAuthenticated()">
                        <a class="nav-item nav-link"
                           th:text="${#request.getSession().getAttribute('username')+' 님 안녕하세요!'}"/>
                        <a href="/logout" class="nav-item nav-link">로그아웃</a>
                        <a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item nav-link"> Admin Page
                            접속 </a>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">마이페이지</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="" class="dropdown-item">나의 정보</a>
                            <a href="/mypage/address" class="dropdown-item">나의 주소</a>
                            <a href="/books/member/likes" class="dropdown-item">찜한 도서</a>
                            <a href="/mypage/coupons" class="dropdown-item">쿠폰</a>
                            <a href="/mypage/order/list" class="dropdown-item">주문/배송조회</a>
                            <a href="/mypage/payments" class="dropdown-item">결제 내역</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-13 d-none d-lg-block">
                <a href="/" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1">g</span>2nee shop</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form th:action="@{/books/search}" th:method="get">
                    <div class="input-group">
                        <select name="condition" class="form-select" aria-label="검색 조건">
                            <option value="INTEGRATION">통합검색</option>
                            <option value="PUBLISHER">출판사</option>
                            <option value="CONTRIBUTOR">참여자</option>
                            <option value="TAG">태그</option>
                        </select>
                        <input id="keyword" type="text" class="form-control" name="keyword"
                               placeholder="Search for products">
                        <input type="hidden" name="page" value="1">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a th:if="${memberId != null}" href="/books/member/likes" class="btn border">
                    <i th:if="${memberId != null}" class="fas fa-heart text-primary"></i>
                    <span th:if="${memberId != null}" class="badge" th:text="${likesNum}"></span>
                </a>
                <a href="/carts/customer" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge" id="cartItemNum" th:text="${cartItemNum}"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="admin-header">

    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a href="/" class="nav-item nav-link active">Home</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a href="/logout" class="nav-item nav-link">로그아웃</a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-13 d-none d-lg-block">
                <a href="/admin" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">
                        <span class="text-primary font-weight-bold border px-3 mr-1">g</span>2nee admin
                    </h1>
                </a>
            </div>
        </div>
    </div>

</div>
</html>
