<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/adminLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>포장지 저장</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script charset="UTF-8" src="/static/js/policy/packageValidation.js"></script>
</head>

<body>
<div layout:fragment="content">
    <h2 class="text-center"> 포장지 저장</h2>

    <form enctype="multipart/form-data"
          id="packageForm"
          th:action="${package != null ? '/admin/packages/modify/' + package.packageId : '/admin/packages/save'}"
          th:method="${package != null ? 'PUT' : 'POST'}">

        <div class="mb-3">
            <label class="form-label" for="image">포장지 이미지 첨부</label>
            <input accept="image/*" class="form-control-file" id="image"
                   name="image" th:required="${#strings.isEmpty(package?.url)}" type="file">
        </div>

        <div class="mb-3">
            <label class="form-label" for="name">포장지 명: </label>
            <input class="form-control" id="name" name="name" th:value="${package?.name}"
                   type="text">
        </div>

        <div class="mb-3">
            <label class="form-label" for="price">가격: </label>
            <input class="form-control" id="price" name="price" th:value="${package?.price}"
                   type="text">
        </div>

        <div class="mb-3 form-check form-check-inline">
            <input class="form-check-input" id="activateYes" name="isActivated"
                   th:checked="${package != null and package.isActivated != null and package.isActivated}" type="radio"
                   value="true">
            <label class="form-check-label" for="activateYes">활성화</label>

            <input class="form-check-input ms-5" id="activateNo" name="isActivated"
                   th:checked="${package != null and package.isActivated == null and !package.isActivated}" type="radio"
                   value="false">
            <label class="form-check-label" for="activateNo">비활성화</label>
        </div>

        <br/>
        <input class="btn btn-primary" type="submit" value="저장">
    </form>

    <div aria-hidden="true" aria-labelledby="validationModalLabel" class="modal fade" id="validationModal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="validationModalLabel">유효성 검사 오류</h5>
                </div>
                <div class="modal-body" id="validationErrors">
                    <!-- 오류 메시지가 표시될 부분 -->
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>
