<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/adminLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>배송비 정책 저장</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script charset="UTF-8" src="/static/js/policy/deliveryPolicyValidation.js"></script>
</head>

<body>
<div class="container my-4" layout:fragment="content">
    <h2 class="text-center"> 배송비 정책 저장</h2>

    <!--이전 배송비 정책이 있을 경우-->
    <form id="deliveryForm" th:action="@{/admin/deliveryPolicies/save}" th:method="POST">
        <div class="mb-3">
            <label class="form-label" for="deliveryFee">배송비: </label>
            <input class="form-control" id="deliveryFee" name="deliveryFee" th:value="${deliveryPolicy?.deliveryFee}"
                   type="text">
        </div>

        <div class="mb-3">
            <label class="form-label" for="freeDeliveryStandard">무료 배송 기준 금액: </label>
            <input class="form-control" id="freeDeliveryStandard" name="freeDeliveryStandard"
                   th:value="${deliveryPolicy?.freeDeliveryStandard}"
                   type="text">
        </div>

        <input class="btn btn-primary" type="submit" value="저장">
    </form>

    <div aria-hidden="true" aria-labelledby="validationModalLabel" class="modal fade" id="validationModal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="validationModalLabel">유효성 검사 오류</h5>
                </div>
                <div class="modal-body" id="validationErrors">
                    <!-- 오류 메시지가 표시될 부분 -->
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>