<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/categoryLayout}">

<head>
    <title>G2nee Error</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <h3>
                <span th:text="${error.httpStatus}"/>
            </h3>
            <p>
                <span th:text="${error.message}"/>
            </p>
            <a href="javascript:history.back();" >이전 페이지로 돌아가기</a>
        </div>
    </div>

</div>

</body>

</html>