<div class="header">
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <span class="text-muted px-2"> | </span>
                    <a href="shop.html" class="nav-item nav-link">국내도서</a>
                    <span class="text-muted px-2"> | </span>
                    <a href="shop.html" class="nav-item nav-link">외국도서</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a href="" class="nav-item nav-link">로그인</a>
                    <a href="" class="nav-item nav-link">회원가입</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">마이페이지</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="" class="dropdown-item">나의계정</a>
                            <a href="cart.html" class="dropdown-item">주문/배송조회</a>
                            <a href="checkout.html" class="dropdown-item">결제내역</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="index.html" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">g</span>2nee shop</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="like.html" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a href="cart.html" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">0</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


</div>