<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/categoryLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link crossOrigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <title>G2nee Book 결제 실패</title>
    <meta content="ie=edge" http-equiv="x-ua-compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
</head>
<body>
<h1>결제 실패</h1>
<p>에러메시지 : <span th:text="${message}"></span></p>
<p>에러코드 : <span th:text="${code}"></span></p>
</body>
</html>