<!DOCTYPE html>
<html lang="ko">
<head>
    <title>G2nee Book 결제 성공</title>
    <meta charset="UTF-8">
    <script>
        function closeWindowAndRedirect() {
            // 새 창 닫기
            window.close();

            // 메인 창이 존재하고 닫히지 않은 경우
            if (window.opener && !window.opener.closed) {
                window.opener.location.href = "/books"; // 메인 창을 /books로 리다이렉트
            }
        }

        // 새 창이 닫힐 때도 같은 동작을 수행
        window.addEventListener('beforeunload', function (e) {
            if (window.opener && !window.opener.closed) {
                window.opener.location.href = "/books"; // 메인 창 리다이렉트
            }
        });
    </script>
</head>

<body>
<h4>결제 성공</h4>
<p><span th:text="${paymentSuccess.orderName}"></span> 결제가 성공적으로 완료되었습니다.</p>
<p>주문 번호: <span th:text="${paymentSuccess.orderNumber}"></span></p>
<p>결제 수단: <span th:text="${paymentSuccess.payType}"></span></p>
<p>결제 금액: <span th:text="${paymentSuccess.amount}"></span></p>

<!-- 확인 버튼: 클릭 시 창 닫기 및 메인 창 리다이렉트 -->
<button onclick="closeWindowAndRedirect()">확인</button>
</body>
</html>
