<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>G2nee Book 결제 성공</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- Libraries Stylesheet -->
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <script>
        function closeWindowAndRedirect() {
            let orderId = document.querySelector('#orderId').value

            // 새 창 닫기
            window.close();

            // 메인 창이 존재하고 닫히지 않은 경우
            if (window.opener && !window.opener.closed) {
                window.opener.location.href = "/order/"+orderId;
            }
        }

        // 새 창이 닫힐 때도 같은 동작을 수행
        window.addEventListener('beforeunload', function (e) {
            let orderId = document.querySelector('#orderId').value

            if (window.opener && !window.opener.closed) {
                window.opener.location.href = "/order/"+orderId;//주문 상세로 이동
            }
        });

        function copyToClipboard() {
            var t = document.createElement("textarea");
            document.body.appendChild(t);
            t.value = document.querySelector('#orderNumber').textContent;
            t.select();
            document.execCommand('copy');
            document.body.removeChild(t)
            Swal.fire({
                icon: 'success',
                title: '주문번호 복사완료!',
                text: ''
            })
        }
    </script>
</head>

<body>
<input type="hidden" id="orderId" th:value="${paymentSuccess.orderId}"/>
<div style="margin:20px">
    <h4 style="color:red">결제가 성공적으로 완료되었습니다.</h4>
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th scope="row" for="orderNumber" class="order-word" style="width: 20%">주문 번호</th>
            <td>
                <span id="orderNumber" th:text="${paymentSuccess.orderNumber}"/>
            </td>
        </tr>
        <tr>
            <th scope="row" for="payType" class="order-word" style="width: 20%">결제 수단</th>
            <td>
                <span th:text="${paymentSuccess.payType}"/>
            </td>
        </tr>
        <tr>
            <th scope="row" for="amount" class="order-word" style="width: 20%">결제 금액</th>
            <td>
                <span th:text="${paymentSuccess.amount}"/>
            </td>
        </tr>
        <tr>
            <th scope="row" for="paymentDate" class="order-word" style="width: 20%">주문 완료 날짜</th>
            <td>
                <span th:text="${paymentSuccess.paymentDate}"/>
            </td>
        </tr>
        </tbody>
    </table>

    <div sec:authorize="isAnonymous()">
        <h6 style="color:red">주문번호와 설정하신 비밀번호로 비회원 주문조회가 가능합니다.</h6>
        <button class="btn btn-primary" onclick="copyToClipboard()">주문번호 복사</button>
    </div>
    </br>
    <!-- 확인 버튼: 클릭 시 창 닫기 및 메인 창 리다이렉트 -->
    <button class="btn btn-primary" onclick="closeWindowAndRedirect()">확인</button>
</div>
</body>
</html>
