<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/categoryLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <link crossOrigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>G2nee Book 결제</title>
    <meta content="ie=edge" http-equiv="x-ua-compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/static/js/payment/paymentSelect.js"></script>
</head>

<body>
<div layout:fragment="content">

    <h5>주문 내역</h5>
    <input type="hidden" id="orderName" th:value="${order.orderName}"/>
    <span th:text="'주문번호 : '"></span>
    <span id="orderNumber" th:text="${order.orderNumber}"/>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>도서 정보</th>
                <th>수량</th>
                <th>가격</th>
            </tr>
            </thead>

            <tbody th:each="orderDetail : ${order.orderDetails}">
            <tr>
                <td>
                    <span th:text="${orderDetail.bookName}"></span>
                </td>
                <td>
                    <span th:text="${orderDetail.quantity}"></span>
                </td>
                <td>
                    <span th:text="${orderDetail.price}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <br/>
    <h5>주문자 정보</h5>
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th scope="row" for="name" class="order-word" style="width: 10%">이름</th>
            <td>
                <span id="name" th:text="${order.name}"/>
            </td>
        </tr>
        <tr>
            <th scope="row" for="email" class="order-word" style="width: 10%">이메일</th>
            <td>
                <span id="email" th:text="${order.email}"/>
            </td>
        </tr>
        <tr>
            <th scope="row" for="phoneNumber" class="order-word" style="width: 10%">전화번호</th>
            <td>
                <span id="phoneNumber" th:text="${order.phoneNumber}"/>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>

    <h5>수령인 정보</h5>
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th scope="row" for="receiverName" class="order-word" style="width: 15%">수령인</th>
            <td>
                <span id="receiverName" th:text="${order.receiverName}"/>
            </td>
        </tr>
        <tr>
            <th scope="row" for="receiverPhoneNumber" class="order-word" style="width: 15%">전화번호</th>
            <td>
                <span id="receiverPhoneNumber" th:text="${order.receiverPhoneNumber}"/>
            </td>
        </tr>
        <tr>
            <th scope="row" for="receiveAddress" class="order-word" style="width: 15%">주소</th>
            <td>
                <span id="receiveAddress"
                      th:text="'['+${order.zipcode}+'] '+${order.receiveAddress}+${order.detailAddress}"/>
            </td>
        </tr>
        <tr>
            <th scope="row" for="message" class="order-word" style="width: 15%">배송 요청사항</th>
            <td>
                <span id="message" th:text="${order?.message}"/>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>

    <h5>최종 결제금액</h5>
    <h6>
        <span style="color:black" id="netAmount" th:text="${order.netAmount}"/>
        <span th:text="'(원가) '"></span>
        <span style="color:red" id="deliveryFee" th:text="' +'+${order.deliveryFee}"/>
        <span th:text="'(배송비) -'"></span>
        <span style="color:blue" id="discount" th:text="${order.netAmount} - (${order.amount}-${order.deliveryFee})"/>
        <span th:text="'(총 할인가) ='"></span>
        <span style="color:red" id="amount" th:text="${order.amount}"/>
    </h6>
    <input type="hidden" id="point" th:value="${point}"/>
    <input type="hidden" id="customerId" th:value="${order.customerId}"/>

    <br/><br/>

    <!--결제 수단 선택-->
    <div th:if="${order.amount > 0}">
        <h5>결제수단</h5>

        <button class="btn" id="toss-button" onclick="selectPaymentMethod('toss')">토스</button>
        <button class="btn" id="naver-button" onclick="selectPaymentMethod('naver')">네이버페이</button>
        <button class="btn" id="kakao-button" onclick="selectPaymentMethod('kakao')">카카오페이</button>
    </div>

    <br/>
    <!-- 결제 버튼 -->
    <button class="btn btn-primary" onclick="openPaymentWindow()">결제하기</button>

</div>
</body>
</html>