<!--
카테고리 검색
-->

<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/adminLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>카테고리 검색</title>
</head>

<body>
<div layout:fragment="content">
    <h2 class="text-center">카테고리 검색</h2>

    <br/><br/>
    <form class="form-inline mb-3 d-flex justify-content-between" th:action="@{/admin/categories/search}"
          th:method="GET">
        <input class="form-control" name="name" placeholder="카테고리 검색" style="width: 70%;" type="text">
        <input name="page" type="hidden" value="1">
        <input class="btn btn-primary ms-3" type="submit" value="검색">
    </form>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>카테고리 명</th>
            <th>영문 이름</th>
            <th></th>
            <th>상태</th>
        </tr>
        </thead>

        <!-- 루트 카테고리 -->
        <tbody th:each="searchCategory : ${searchCategoriesPage.data}">
        <tr>
            <td>
                ● <span th:text="${searchCategory.categoryName}"></span>
            </td>
            <td>
                <span th:text="${searchCategory.categoryEngName}"></span>
            </td>
            <td>
                <a class="btn btn-sm btn-primary"
                   th:href="@{'/admin/categories/modify/' + ${searchCategory.categoryId}}">수정</a>
            </td>
            <td>
                    <span th:if="${searchCategory.isActivated}">
                        <form class="d-inline" th:action="@{'/admin/categories/' + ${searchCategory.categoryId}}"
                              th:method="delete">
                            <button class="btn btn-sm btn-success" type="submit">활성</button>
                        </form>
                    </span>
                <span th:unless="${searchCategory.isActivated}">
                        <form class="d-inline" th:action="@{'/admin/categories/' + ${searchCategory.categoryId}}"
                              th:method="patch">
                            <button class="btn btn-sm btn-secondary" type="submit">비활성</button>
                        </form>
                    </span>
            </td>
        </tr>
        </tbody>
    </table>

    <br/><br/>
    <nav aria-label="...">
        <ul class="pagination d-flex justify-content-center">
            <li>
                <a class="page-link" th:href="@{'?page=1'}">≪</a>
            </li>
            <li th:class="${searchCategoriesPage.currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                <a class="page-link" th:href="@{'?page=' + ${searchCategoriesPage.currentPage - 1 }}"><</a>
            </li>
            <li th:class="${searchCategoriesPage.currentPage == pageButton ?   'page-item active' : 'page-item'}"
                th:each="pageButton : ${#numbers.sequence(searchCategoriesPage.startPage,searchCategoriesPage.endPage)}">
                <a class="page-link" th:href="@{'?page=' + ${pageButton}}" th:text="${pageButton}"></a>
            </li>
            <li th:class="${searchCategoriesPage.currentPage == searchCategoriesPage.totalPage ? 'page-item disabled' : 'page-item'}">
                <a class="page-link" th:href="@{'?page=' + ${searchCategoriesPage.currentPage + 1}}">></a>
            </li>
            <li>
                <a class="page-link" th:href="@{'?page=' + ${searchCategoriesPage.totalPage}}">≫</a>
            </li>
        </ul>
    </nav>

    <br/><br/>
    <a class="btn btn-primary" th:href="@{/admin/categories/save}">새 카테고리</a>

</div>
</body>
</html>