<!--
카테고리 목록 출력
-->

<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/adminLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>카테고리 관리</title>
</head>

<body>
<div layout:fragment="content">

    <form th:action="@{/admin/categories/search}" th:method="GET">
        <input type="text" placeholder="카테고리 검색" name="name"> &nbsp
        <input type="hidden" name="page" value="1">
        <input type="submit" value="검색">
    </form>

    <br />
    <table>
        <tr>
            <th>카테고리 명</th>
            <th>영문 이름</th>
            <th></th>
            <th></th>
        </tr>
        <div th:each="rootCategory : ${session.rootCategories}">
            <tr>
                <td>
                    ●&nbsp<span th:text="${rootCategory.categoryName}"/>
                </td>
                <td>
                    <span th:text="${rootCategory.categoryEngName}"/>
                </td>
                <td>
                    <a th:href="@{'/admin/categories/modify/' + ${__${rootCategory.categoryId}__}}">수정</a>
                </td>
                <td>
                    <span th:if="${rootCategory.isActivated}">
                        <form th:action="@{'/admin/categories/' + ${rootCategory.categoryId}}" th:method="delete">
                            <button type="submit">활성</button>
                        </form>
                    </span>
                    <span th:unless="${rootCategory.isActivated}">
                        <form th:action="@{'/admin/categories/' + ${rootCategory.categoryId}}" th:method="patch">
                            <button type="submit">비활성</button>
                        </form>
                    </span>
                </td>
            </tr>
            <div th:each="child : ${rootCategory.children}" >
                <tr style="padding-left:10px">
                    <td>
                        &nbsp ○ <span th:text="${child.categoryName}"/>
                    </td>
                    <td>
                        <span th:text="${child.categoryEngName}"/>
                    </td>
                    <td>
                        <a th:href="@{'/admin/categories/modify/' + ${__${child.categoryId}__}}">수정</a>
                    </td>
                    <td>
                    <span th:if="${child.isActivated}">
                        <form th:action="@{'/admin/categories/' + ${child.categoryId}}" th:method="delete">
                            <button type="submit">활성</button>
                        </form>
                    </span>
                    <span th:unless="${child.isActivated}">
                        <form th:action="@{'/admin/categories/' + ${child.categoryId}}" th:method="patch">
                            <button type="submit">비활성</button>
                        </form>
                    </span>
                    </td>
                </tr>
                <tr th:each="subChild : ${child.children}" style="padding-left:20px">
                    <td>
                        &nbsp &nbsp └ <span th:text="${subChild.categoryName}"/>
                    </td>
                    <td>
                        <span th:text="${subChild.categoryEngName}"/>
                    </td>
                    <td>
                        <a th:href="@{'/admin/categories/modify/' + ${__${subChild.categoryId}__}}">수정</a>
                    </td>
                    <td>
                    <span th:if="${subChild.isActivated}">
                        <form th:action="@{'/admin/categories/' + ${subChild.categoryId}}" th:method="delete">
                            <button type="submit">활성</button>
                        </form>
                    </span>
                    <span th:unless="${subChild.isActivated}">
                        <form th:action="@{'/admin/categories/' + ${subChild.categoryId}}" th:method="patch">
                            <button type="submit">비활성</button>
                        </form>
                    </span>
                    </td>
                </tr>

            </div>


        </div>
    </table>

    <br /><br />
    <a th:href="@{/admin/categories/save}">새 카테고리</a>

</div>
</body>
</html>