<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layouts/adminLayout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>카테고리 수정</title>
    <link rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/category/categoryValidation.js"></script>
    <script src="/static/js/category/categorySave.js"></script>
</head>

<body>
<div class="container my-4" layout:fragment="content">
    <h2 class="text-center">카테고리 수정</h2>

    <form id="categoryForm" th:action="@{'/admin/categories/modify/' + ${category.categoryId}}" th:method="PUT">
        <div class="mb-3">
            <label class="form-label" for="categoryName">카테고리 이름:</label>
            <input class="form-control" id="categoryName" name="categoryName" th:value="${category.categoryName}"
                   type="text">
        </div>

        <div class="mb-3">
            <label class="form-label" for="categoryEngName">카테고리 영문이름:</label>
            <input class="form-control" id="categoryEngName" name="categoryEngName"
                   th:value="${category.categoryEngName}"
                   type="text">
        </div>

        <div class="mb-3 form-check form-check-inline">
            <input class="form-check-input" id="activateYes" name="isActivated" onclick="show(this);"
                   th:checked="${category.isActivated}"
                   type="radio" value="true">
            <label class="form-check-label" for="activateYes">활성화</label>

            <input class="form-check-input ms-5" id="activateNo" name="isActivated" onclick="show(this);"
                   th:checked="${!category.isActivated}"
                   type="radio" value="false">
            <label class="form-check-label" for="activateNo">비활성화</label>
        </div>

        <div class="mb-3" id="ancestorCategoryLabel" th:style="${category.isActivated ? '' : 'display: none;'}">
            <label class="form-label">상위 카테고리 선택:</label><br/>
            <select class="form-select" id="ancestorCategorySelect" name="ancestorCategoryId" size="5">
                <option th:selected="${category.ancestorCategoryId} == 0" value="0">상위 카테고리 없음</option>
                <option th:each="eachCategory : ${categories}"
                        th:if="${eachCategory.isActivated and eachCategory.categoryId != category.categoryId}"
                        th:selected="${eachCategory.categoryId} == ${category.ancestorCategoryId}"
                        th:text="${eachCategory.categoryName}" th:value="${eachCategory.categoryId}"></option>
            </select>
        </div>

        <br/>
        <input class="btn btn-primary" type="submit" value="저장">
    </form>

    <div aria-hidden="true" aria-labelledby="validationModalLabel" class="modal fade" id="validationModal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="validationModalLabel">유효성 검사 오류</h5>
                </div>
                <div class="modal-body" id="validationErrors">
                    <!-- 오류 메시지가 표시될 부분 -->
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
