<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/adminLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>카테고리 저장</title>
</head>

<body>
<div layout:fragment="content">
    <h2>카테고리 저장</h2>
    <!-- adin page view 구현-->
    <form th:action="@{/admin/categories/save}" th:method="POST">
        <label th:text="'카테고리 이름: '"/><input type="text" name="categoryName"/><br /><br />
        <label th:text="'카테고리 영문이름: '"/><input type="text" name="categoryEngName"/><br /><br />

        <input type="radio" id="activateYes" name="isActivated" value="true" onclick="toggleSelect(true)">
        <label for="activateYes">활성화</label> &nbsp
        <input type="radio" id="activateNo" name="isActivated" value="false" onclick="toggleSelect(false)">
        <label for="activateNo">비활성화</label><br /><br />

        <div id="ancestorCategoryLabel">
            <label>상위 카테고리 선택</label><br />
            <select id="ancestorCategorySelect" size="5" name="ancestorCategoryId">
                <option selected value="0">상위 카테고리 없음</option>
                <option th:each="eachCategory : ${categories}" th:if="${eachCategory.isActivated}"
                        th:value="${eachCategory.categoryId}"
                        th:text="${eachCategory.categoryName}">
                </option>
            </select><br />
        </div>

        <br />
        <input type="submit" value="저장"/>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/categorySave.js}"></script>
</body>

</html>