<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/adminLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>카테고리 저장</title>
    <link rel="stylesheet">
    <script src="/static/js/categorySave.js"></script>
</head>

<body>
<div layout:fragment="content" class="container my-4">
    <h2 class="text-center">카테고리 저장</h2>

    <form th:action="@{/admin/categories/save}" th:method="POST">
        <div class="mb-3">
            <label for="categoryName" class="form-label">카테고리 이름:</label>
            <input type="text" class="form-control" name="categoryName" id="categoryName">
        </div>

        <div class="mb-3">
            <label for="categoryEngName" class="form-label">카테고리 영문이름:</label>
            <input type="text" class="form-control" name="categoryEngName" id="categoryEngName">
        </div>

        <<div class="mb-3 form-check form-check-inline">
        <input type="radio" class="form-check-input" id="activateYes" name="isActivated" value="true" onclick="show(this);">
        <label for="activateYes" class="form-check-label">활성화</label>

        <input type="radio" class="form-check-input ms-5" id="activateNo" name="isActivated" value="false" onclick="show(this);">
        <label for="activateNo" class="form-check-label">비활성화</label>
    </div>


        <div id="ancestorCategoryLabel" class="mb-3" style="display:none;">
            <label class="form-label">상위 카테고리 선택:</label><br />
            <select id="ancestorCategorySelect" class="form-select" name="ancestorCategoryId" size="5">
                <option selected value="0">상위 카테고리 없음</option>
                <option th:each="eachCategory : ${categories}" th:if="${eachCategory.isActivated}"
                        th:value="${eachCategory.categoryId}"
                        th:text="${eachCategory.categoryName}">
                </option>
            </select>
        </div>

        <input type="submit" class="btn btn-primary" value="저장">
    </form>
</div>

</body>
</html>
