
<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/adminLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>전체 주문 목록</title>
</head>
<body>
<div layout:fragment="content" class="container my-4">

    <h2 class="text-center">주문 목록</h2>

    <!-- 주문번호로 검색 기능-->
    <br/><br/>
    <form th:action="@{/admin/orders/search}" th:method="GET"
          class="form-inline mb-3 d-flex justify-content-between">
        <input type="text" class="form-control" placeholder="주문 검색" name="name" style="width: 70%;">
        <input type="hidden" name="page" value="1">
        <input type="submit" class="btn btn-primary ms-3" value="검색">
    </form>

    <br/><br/>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>주문 번호</th>
            <th>주문 일자</th>
            <th>고객 정보</th>
            <th>총 가격</th>
            <th>주문 상태</th>
            <th>비고</th>
        </tr>
        </thead>

        <!-- 주문 목록 -->
        <tbody>
        <tr th:each="order : ${orderPage.data}">
            <td ><a th:href="@{'/admin/orders/'+ ${order.orderId}}" th:text="${order.orderNumber}"></a></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.customerId}"></td>
            <td th:text="${order.orderAmount}"></td>
            <td th:text="${order.orderState.name()}"></td>
            <td><button>상태 변경</button></td>
        </tr>

        <!-- 추가 주문 목록은 이곳에 추가할 수 있습니다 -->

        </tbody>
    </table>

    <div>
        <nav aria-label="...">
            <ul class="pagination">
                <li>
                    <a class="page-link" th:href="@{'?page=1'}">≪</a>
                </li>
                <li th:class="${orderPage.currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{'?page=' + ${orderPage.currentPage - 1 }}"><</a>
                </li>
                <li th:each="pageButton : ${#numbers.sequence(orderPage.startPage,orderPage.endPage)}"
                    th:class="${orderPage.currentPage == pageButton ?   'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{'?page=' + ${pageButton}}" th:text="${pageButton}"></a>
                </li>
                <li th:class="${orderPage.currentPage == orderPage.totalPage ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{'?page=' + ${orderPage.currentPage + 1}}">></a>
                </li>
                <li>
                    <a class="page-link" th:href="@{'?page=' + ${bookPage.totalPage}}">≫</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
