<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">
<head>
    <meta charset="UTF-8">
    <title>admin 주문 조회</title>
</head>

<body>
<div layout:fragment="content">
    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>주문 번호</th>
                    <th>주문 일자</th>
                    <th>배송 희망 일자</th>
                    <th>고객 정보</th>
                    <th>총 가격</th>
                    <th>주문 상태</th>
                    <th></th>

                </tr>
                </thead>

                <tbody>
                <tr th:each="order : ${order.data}">
                    <td ><a th:href="@{'/admin/orders/'+ ${order.orderId} + '/details'}" th:text="${order.orderNumber}"></a></td>
                    <td th:text="${order.orderDate}"></td>
                    <td th:text="${order.customerId}"></td>
                    <td th:text="${order.orderAmount}"></td>
                    <td th:text="${order.orderState}"></td>
                    <td><button>상태 변경</button></td>
                </tr>
                <!-- 추가 주문 목록은 이곳에 추가할 수 있습니다 -->
                </tbody>
            </table>

            <!-- 배송 세부 내용 start -->
            <hr/>
            <h3>배송 정보</h3>
            <p th:text="'수령인: ' + ${order.receiverName}"></p>
            <p th:text="'우편번호: ' + ${order.zipcode}"></p>
            <p th:text="'배송지: ' + ${order.receiveAddress}"></p>
            <p th:text="'상세주소: ' + ${order.detailAddress}"></p>
            <p th:text="'배송 요청사항: ' + ${order.message}"></p>
            </hr>
        </div>
    </div>
</div>
</body>
</html>